<link href="~/Resource/Css/Shared/Header/_HeaderAdmin.css" rel="stylesheet" />

<div class="header">
    <div id="linked">
        <h1><a href="/Admin"><b>관리자모드</b>1.0</a></h1>
        <span><a href="/" target='_blank'><b>마이플랫폼 메인</b></a></span>
    </div>
    <div id="gLogged">
        <div id="gLoggedInfo">
            <b>sns@439838 (유지혁)</b> 님
        </div>
        <ul id="gLoggedMenu">
            <li><a href="/Login/Logout">로그아웃</a></li>
        </ul>
    </div>
</div>