@using DataCrawling_Web.BSL.Authentication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Main/Index.css" rel="stylesheet" />
    <script src="~/Resource/Js/Main/Index.js"></script>
}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    @if (string.IsNullOrEmpty(AuthUser.M_ID))
    {
        <div class="start-section">
            <div class="inner">
                <div class="border-round-section devCorpLogin">
                    <div class="title-box">
                        지금,
                        <strong>필요한 정보</strong>를
                        수집해 보세요
                    </div>
                    <div class="button-box clearfix">
                        <span class="devGoLogin"><a href="/Login/Nid_Login" class="blue">로그인</a></span>
                        <a href="/Join/Regist">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="example-section">
        <div class="inner">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="28" viewBox="0 0 28 20" width="28" aria-hidden="true" class="home-git-icon home-git-item float-left mr-n6 position-relative z-1">
                <circle cx="14" cy="10" fill="#fff" r="5" stroke="#d0d6df" stroke-width="2"></circle>
            </svg>
            <ul class="module_ty">
                <li class="li on">
                    <div class="img">
                        <a href="/kr/insights/amazon_advertisement.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/27/amazon_advertisement_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/27/amazon_advertisement_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>스마트 물류</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">아마존 광고 전쟁, 나만의 비밀 무기를 확보하자!</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 32px;">
                            <a href="/kr/insights/amazon_advertisement.html" class="md_link">아마존 광고 전쟁, 나만의 비밀 무기를 확보하자!</a>
                        </strong>
                        <p class="md_txt">대부분의 현직 아마존 셀러들에게는 아마존 광고 사업 부문의 높은 성장세가 결코 달갑게 들리지 않을 것입니다. 아마존 광고 매출 성장은 곧 아마존 마켓플레이스라는 전쟁터에서 광고 예산이라는 총알을 갖고 상위 노출이라는 하나의 고지를 점령하기 위해 서로 치열한 전투를 벌이는 각 셀러들의 경쟁이 심화되고 있음을 의미하기 때문입니다.</p>
                    </div>
                </li>
                <li class="li on">
                    <div class="img">
                        <a href="/kr/insights/digital_collraborate.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/27/digital_collraborate_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/27/digital_collraborate_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>Digital</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">디지털 협업에서 실패를 줄이는 핵심 이슈 3가지</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 32px;">
                            <a href="/kr/insights/digital_collraborate.html" class="md_link">디지털 협업에서 실패를 줄이는 핵심 이슈 3가지</a>
                        </strong>
                        <p class="md_txt">코로나로 모든 것들이 순식간에 디지털화되고 있습니다. 이에 기업들에게 디지털 트랜스포메이션은 더 이상 선택이 아닌 필수가 되었고 고객 및 기업의 임직원들 또한 디지털 환경에 적응해야 되는 입장이 되었습니다. 특히 사람들은 서로 대면하지 못하게 되면서 상호작용을 힘들어하고 협업에 어려움을 토로하였습니다. 이러한 문제를 간파한 기업들은 가장 먼저 고객 및 임직원들이 상호작용하는 접점을 디지털로 트랜스포메이션하였고 사람들은 디지털로 확장된 환경에서 진화된 협업을 경험하고 있습니다.</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/mariadb.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/20/mariadb_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/20/mariadb_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>
                                    클라우드
                                    <br>
                                </p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">
                                클라우드 데이터베이스의 선두 MariaDB, 10.6 무엇이 바뀌었나?
                            </div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/mariadb.html" class="md_link">
                                클라우드 데이터베이스의 선두 MariaDB, 10.6 무엇이 바뀌었나?
                                <br>
                            </a>
                        </strong>
                        <p class="md_txt">
                            MariaDB는 단기간에 괄목한 만한 성장세를 보이면서 대표적인 오픈소스 DB로 손꼽히고 있습니다.
                            <br>10.6버전은 이전 버전보다 최적화, 호환성, 안정성, 편리성을 고려한 개선 사항이 추가되었으며 불필요한 변수를 삭제하였는데, 다만 10.6 버전으로 업그레이드할 경우 제거되거나 사용되지 않는 변수를 my.cnf에서 확인해야 하며 변수를 추가할 때는 사전에 충분한 검토가 필요하다는 점을 유념해야 합니다.
                        </p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/global_harbor.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/15/insight_thumb.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/15/insight_thumb.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>스마트 물류</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">전세계 물류 흐름의 중심, 글로벌 항만</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/global_harbor.html" class="md_link">전세계 물류 흐름의 중심, 글로벌 항만</a>
                        </strong>
                        <p class="md_txt">항만이 막히면 물류가 중단되고 공급 사슬이 작동하지 않는데 글로벌 공급 사슬의 혼란이 아니라 폐쇄가 되는 것이고 이렇게 되면 전 세계 교역, 생산, 소비 자체가 순차적으로 중단될 수밖에 없는 것이죠. 이처럼 최악의 상태는 생기지 않겠지만 미국발, 중국발 글로벌 공급사슬 혼란을 지켜보면서 전체 공급 사슬 관리뿐만 아니라 육상과 해상을 연결하는 핵심 연결고리인 항만의 중요성을 다시 한번 느낄 수 있습니다.</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/mydata2.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/15/mydata2_thumb.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/15/mydata2_thumb.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>IT테크놀로지</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">마이데이터 플랫폼 핵심 전략 2  마이데이터 비즈니스를 위한 Next Step</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/mydata2.html" class="md_link">마이데이터 플랫폼 핵심 전략 2 <br> 마이데이터 비즈니스를 위한 Next Step</a>
                        </strong>
                        <p class="md_txt">최근 회자되는 디지털 전환(Digital Transformation)은 우리 사회의 모든 분야에 혁신을 요구합니다. 혁신의 수준과 성과는 결국 정보를 얼마나 잘 활용하는지에 달려 있습니다. 서비스 제공 기업을 중심으로 대량의 정보를 필요에 따라 수동적으로 활용하던 과거와는 달리, 개인별 맞춤 정보를 능동적으로 이용하는 새로운 서비스를 통해 일종의 패러다임 전환의 의미 또한 살펴볼 수 있습니다.</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/fba_management_tip.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/08/fba_management_tip_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/08/fba_management_tip_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>스마트 물류</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">이커머스 시장의 성장 글로벌(아마존) 셀러들의 가장 큰 고민 FBA 창고 재고 관리 노하우!</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/fba_management_tip.html" class="md_link">이커머스 시장의 성장 글로벌(아마존) 셀러들의 가장 큰 고민 FBA 창고 재고 관리 노하우!</a>
                        </strong>
                        <p class="md_txt">현직 아마존 셀러 5,000여 명을 대상으로 진행한 설문조사 결과, 아마존 셀러의 47%가 아마존의 정책 및 서비스 약관의 변경에 대해 걱정하고 있다고 합니다. 아마존 비즈니스를 운영하는 셀러들에게는 이러한 아마존 정책 및 규정 변경이 미치는 영향이 절대적이므로, 상황에 따라 큰 불이익으로 작용할 수 있다는 점에서 많은 셀러들의 고민거리가 되고 있습니다.</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/svelte2.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/03/svelte2_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/12/03/svelte2_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>클라우드</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">
                                개발자가 사랑하는 프론트엔드 프레임워크 2 :
                                스벨트(Svelte) 사용법
                            </div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/svelte2.html" class="md_link">
                                개발자가 사랑하는 프론트엔드 프레임워크 2 :
                                <br>스벨트(Svelte) 사용법
                            </a>
                        </strong>
                        <p class="md_txt">2011년 스택 오버플로우가 발표한 개발자 설문 조사의 웹 프레임워크 부문의 결과를 보면, 스벨트는 가장 사랑받는 프레임워크 1위, 가장 원하는 프레임워크 5위에 올라있습니다. 전 세계 개발자들이 스벨트에 많은 관심을 보이면서 한 번 사용하면 높은 만족도를 나타내는 이유는 무엇일까요? 스벨트의 사용법을 알아봅시다.</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/svelte.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/26/svelte_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/26/svelte_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>클라우드</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">
                                개발자가 사랑하는 프론트엔드 프레임워크1 :
                                스벨트(Svelte)의 특징
                            </div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/svelte.html" class="md_link">
                                개발자가 사랑하는 프론트엔드 프레임워크1 :
                                <br>스벨트(Svelte)의 특징
                            </a>
                        </strong>
                        <p class="md_txt">2011년 스택 오버플로우가 발표한 개발자 설문 조사의 웹 프레임워크 부문의 결과를 보면, 스벨트는 가장 사랑받는 프레임워크 1위, 가장 원하는 프레임워크 5위에 올라있습니다. 전 세계 개발자들이 스벨트에 많은 관심을 보이면서 한 번 사용하면 높은 만족도를 나타내는 이유는 무엇일까요?</p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/Kubernetes_openshift.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/19/Kubernetes_openshift_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/19/Kubernetes_openshift_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>클라우드</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">클라우드 오케스트레이션을 위한 쿠버네티스와 오픈시프트의 차이</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/Kubernetes_openshift.html" class="md_link">클라우드 오케스트레이션을 위한 쿠버네티스와 오픈시프트의 차이</a>
                        </strong>
                        <p class="md_txt">쿠버네티스는 오픈소스 프로젝트로 널리 쓰이고 있습니다. 이에 비해 오픈시프트는 OKD(Origin Kubernetes Distribution)라는 오픈소스 버전이 있지만 주로 상용 제품으로 활용되기 때문에 쿠버네티스에 비해 상대적으로 덜 알려져 있습니다. 두 플랫폼을 대등한 위치에 놓고 비교하는 건 무리가 있습니다. 왜냐하면 오픈시프트는 쿠버네티스를 핵심 요소로 하여 각 데브옵스(DevOps) 도구들이 융합된 플랫폼이기 때문입니다. </p>
                    </div>
                </li>
                <li class="li">
                    <div class="img">
                        <a href="/kr/insights/metaverse_experience_immersion.html" class="md_link more">
                            <span class="img_p imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/17/metabus_experience_immersion_thumbnail.jpg?queryString=20220217094143&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"><img src="https://image.samsungsds.com/kr/mainModule/insights/__icsFiles/afieldfile/2021/11/17/metabus_experience_immersion_thumbnail.jpg?queryString=20220217094143" alt="" aria-hidden="true" style="display: none;"></span>
                            <!--Thum img link  //-->
                            <div class="mask more">
                                <p>Digital</p>
                            </div>
                            <div class="mask_over">
                                <p>자세히 보기</p>
                            </div>
                            <div class="blind">언택트로 확장된 가상세계에서의 경험3 메타버스 경험에 몰입감을 더하는 방법</div>
                        </a>
                    </div>
                    <div class="txt">
                        <strong class="md_tit tit_s" style="height: 64px;">
                            <a href="/kr/insights/metaverse_experience_immersion.html" class="md_link">언택트로 확장된 가상세계에서의 경험3 메타버스 경험에 몰입감을 더하는 방법</a>
                        </strong>
                        <p class="md_txt">3D를 기반으로 한 가상세계에서 시간을 보내는 사람들이 점점 늘고 있습니다. 메타버스의 대표 서비스인 Roblox의 경우 미국 16세 미만 아이 중 가입자가 55% 이상이고, 유튜브보다 2.5배의 시간을 보내고 있다고 합니다. 그렇다면 이러한 3D 기반의 서비스/앱 사용자를 위한 경험은 어떻게 설계해야 할까요?</p>
                    </div>
                </li>
            </ul>
            <div class="btn_more">
                <a href="#" class="btn_m btn_ty"><span>더보기</span></a>
            </div>
        </div>
    </div>
    <div class="service-section">
        <div class="inner">
            <h2 class="common-h2">마이플랫폼 서비스가 궁금해요!</h2>
            <ul class="service-list clearfix">
                <li>
                    <button>
                        <div class="number">1</div>
                        <div class="text">
                            데이터수집을 하고싶은데<br>
                            절차가 어떻게 되나요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">2</div>
                        <div class="text">
                            웹·업무 자동화 시스템은<br>
                            무엇인가요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">3</div>
                        <div class="text">
                            요금제는<br>
                            어떻게 되나요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">4</div>
                        <div class="text">
                            무료 서비스는<br>
                            어떤게 있나요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">5</div>
                        <div class="text">
                            어떤 데이터를<br>
                            스크랩할 수 있나요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">6</div>
                        <div class="text">
                            스크랩한 데이터는<br>
                            어디에서 확인이 가능한가요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">7</div>
                        <div class="text">
                            최신 데이터로 다시 스크랩하고 싶은데<br>
                            어떻게 하나요?
                        </div>
                    </button>
                </li>
                <li>
                    <button>
                        <div class="number">8</div>
                        <div class="text">
                            데이터 보관기간은<br>
                            어떻게 되나요?
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-article">
    </div>
    @RenderPage("~/Views/Modal/_CommonModal.cshtml")
}

@section Footer{
    @RenderPage("~/Views/Shared/_Footer.cshtml")
}