@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Help/Common.css" rel="stylesheet" />
    <link href="~/Resource/Css/Help/_Help.css" rel="stylesheet" />
}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    <div id="content">
        <div class="container">
            <div class="content-article">
                @RenderPage("~/Views/Shared/Left/_Help.cshtml")
                <div class="loungeContent">
                    <div class="topHdWrap clear">
                        <h2 class="lug_hd_2">유료 이용내역</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}