.filter-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
    font-size: 14px;
}

    .filter-area .sch-area {
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 15px;
    }

    .filter-area #searchTxt {
        border: 1px solid #bdbdbd;
        padding: 6px 10px;
        border-radius: 5px;
        width: 250px;
    }

    .filter-area .btn-sch {
        padding: 10px 30px;
        background: #434343;
        color: #fff;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

.stat_type {
    width: 220px;
    margin-bottom: 20px;
    position: relative;
}

.btn-delete {
    background: #00427d;
    color: #fff;
    height: 30px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-area p {
    display: flex;
    padding: 10px 30px;
    background: #434343;
    color: #fff;
    border-radius: 5px;
}

.common-modal.service-modal .modal-contents {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.common-modal .col-table {
    width: 70%;
}

.new-user .paramtrCls {
    cursor: pointer;
}

.permission-list {
    width: 30%;
    margin-left: 30px;
    height: 100%;
}

    .permission-list ul {
        border: 1px solid #ddd;
        padding: 10px 0;
        min-width: 220px;
        min-height: 300px;
        background: #ebebeb30;
        height: 100%;
    }

        .permission-list ul li {
            line-height: 40px;
            padding: 0 20px;
            font-size: 13px;
            font-weight: 500;
        }

.active-fixed {
    height: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

    .active-fixed span {
        padding: 10px 30px;
        background: #434343;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .active-fixed .cancel {
        background: #00427d;
    }

    .active-fixed span + span {
        margin-left: 10px;
    }

.common-modal .close-button {
    display: none;
}
