<div class="cont_sign">
    <h2 class="tit_g">
        마이플랫폼 계정을 찾을 방법을
        <br>선택해 주세요.
    </h2>
    <form class="find-info">
        <div class="box_find">
            <a href="javascript:;" class="link_prove" id="find-account-nick-phone-number">
                <strong class="tit_prove">사용자 이름 / 전화번호로 찾기</strong>
                <p class="desc_prove">회원가입에 등록한 사용자 이름 및 전화번호로 계정을 찾습니다.</p>
                <span class="ico_account ico_arr">상세보기</span>
            </a>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#find-account-nick-phone-number').click(function () {
            stepView('2');
        });
    });
</script>