<div class="common-modal service-modal">
    <div class="modal-dimmed"></div>
    <div class="modal-contents">
        <button class="close-button"></button>

    </div>
</div>

<link href="~/Resource/Css/Admin/Member/Modal.css" rel="stylesheet" />