@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}


@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <script src="~/Resource/Js/Admin/Member.js"></script>
    <link href="~/Resource/Css/Admin/Code/CodeMng.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">

            </div>
        </div>
    </section>

    <script>
        $(function () {
            $('#gPathBar h2').text('권한 그룹');
        });
    </script>
}
