@using DataCrawling_Web.BSL.Common;
@model DataCrawling_Web.Models.Admin.GroupUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
    string Name = "Management";
}


@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <script src="~/Resource/Js/Admin/Member.js"></script>
    <link href="~/Resource/Css/Admin/Member/Management.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">
                <div class="filter-area">
                    <div class="form_col stat_type">
                        @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                        {
                            ID = Name,
                            ItemIdx = -1,
                            ShowAll = true,
                            Height = 35,
                            SelectID = -1,
                            GroupInfo = Model.GroupInfo.Select(s => new DataCrawling_Web.Models.ListViewItem
                            {
                                Idx = s.GROUP_ID,
                                Name = s.GROUP_NAME
                            })
                        })
                    </div>
                    <div class="sch-area">
                        <input type="text" id="searchTxt" name="name" value="" placeholder="검색어를 입력하세요 (이름, 아이디, 전화번호)" />
                        <span class="btn-sch">검색</span>
                    </div>
                </div>
                <div class="col-table left line">
                    <p class="tit-hide">요청 URL</p>
                    <table>
                        <caption>요청 URL 입니다.</caption>
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:12.5%">
                            <col style="width:7%">
                            <col style="width:12.5%">
                            <col style="width:7%">
                            <col style="width:7.5%">
                            <col style="width:7.5%">
                            <col style="width:12.5%">
                            <col style="width:12.5%">
                            <col style="width:8%">
                            <col style="width:8%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">아이디</th>
                                <th scope="col">이름</th>
                                <th scope="col">전화번호</th>
                                <th scope="col">성별</th>
                                <th scope="col">그룹명</th>
                                <th scope="col">그룹설명</th>
                                <th scope="col">마지막로그인일</th>
                                <th scope="col">회원가입일</th>
                                <th scope="col">권한변경</th>
                                <th scope="col">비밀번호 초기화</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function () {
            $('#gPathBar h2').text('회원 관리');
        });
    </script>
}
