<ol>
    <li>
        <p>
            의뢰서 등록을 위해 아래와 같이 개인정보를 수집 및 이용합니다.
            <br>동의를 거부할 권리가 있으며, 동의 거부 시 헤드헌팅 의뢰서 등록 서비스 이용이 불가합니다.
        </p>
        <table>
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>목적</th>
                    <th>항목</th>
                    <th>보유 및 이용기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>의뢰에 대한 담당자 연락 및 안내를 위함. 각종 맞춤형 서비스 제공</td>
                    <td>이름, 전화번호, 휴대폰번호, 이메일, 부서명, 직책</td>
                    <td class="underline">회원 탈퇴 시 즉시 파기</td>
                </tr>
            </tbody>
        </table>
    </li>
</ol>