<ol>
    <li>
        <dl>
            <dt><a name="gg01" id="gg01"></a><strong>제 1 조 (정의)</strong></dt>
            <dd>본 약관은 마이플랫폼코리아 (이하 "회사"라 함)과 서비스 이용자 간의 의뢰 서비스 이용에 관한 조건 및 절차를 정함을 목적으로 한다.</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg02" id="gg02"></a><strong>제 2 조 (용어의 정의)</strong></dt>
            <dd>
                이 약관에서 사용하는 용어의 정의는 아래와 같다.
                <ol>
                    <li>①	"회사"란 마이플랫폼코리아를 말한다. </li>
                    <li>②	"의뢰자"란 회사의 의뢰 서비스를 이용하는 자를 말한다. </li>
                    <li>③	"의뢰 서비스"란 회사가 제공하는 IT 기술 및 관련 서비스를 의뢰자에게 제공하는 것을 말한다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg03" id="gg03"></a><strong>제 3 조 (이용계약의 성립)</strong></dt>
            <dd>"의뢰자"가 "의뢰 서비스"를 이용하고자 "의뢰서" 작성 단계에서 본 약관을 읽고 "동의" 버튼을 누르고 "의뢰서" 작성을 완료한 경우, 본 약관에 동의한 것으로 간주한다.</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg04" id="gg04"></a><strong>제 4 조 (이용신청의 승낙과 제한)</strong></dt>
            <dd>
                <ol>
                    <li>①	"회사"는 전조의 규정에 의한 이용신청 고객에 대하여 업무수행상 또는 기술상 지장이 없는 경우 원칙적으로 서비스 이용을 승낙한다. </li>
                    <li>②	의뢰서의 내용을 허위로 기재하거나 "회사"가 제시하는 내용을 기재하지 않은 경우 서비스 이용신청을 승낙하지 아니한다.</li>
                    <li>③	"회사"는 "의뢰자"가 "의뢰서" 내용에 "의뢰 서비스"를 진행함에 부족함이 있을 경우, "의뢰서" 내용이 수정될 때까지 승낙을 유보할 수 있다. </li>
                    <li>④	이용자가 회사의 의뢰 서비스를 부정하게 이용하거나 이용 목적이 부적절한 경우 승낙을 유보할 수 있다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg05" id="gg05"></a><strong>제 5 조 (서비스의 내용)</strong></dt>
            <dd>
                <ol>
                    <li>① "회사"는 의뢰자에게 본 약관에서 정한 범위 내에서 의뢰 서비스를 제공한다.</li>
                    <li>② 의뢰 서비스의 구체적인 내용은 별도의 계약 또는 합의서에 따른다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg06" id="gg06"></a><strong>제 6 조 (서비스의 요금)</strong></dt>
            <dd>
                <ol>
                    <li>①	"회사"가 제공하는 서비스에 대한 요금은 별도의 약정에 따라 합의되며, 의뢰자는 정해진 요금을 지불하여야 한다.</li>
                    <li>②	서비스 이용 중 추가로 발생하는 비용은 의뢰자가 부담하여야 한다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg07" id="gg07"></a><strong>제 7 조 (서비스 요금의 환불)</strong></dt>
            <dd>
                <ol>
                    <li>①	의뢰자는 서비스 이용료의 환불을 요청할 수 있습니다. 다만, 회사의 환불 정책에 따라 일정한 조건과 절차가 적용된다. </li>
                    <li>②	서비스 이용 중 회사의 귀책사유로 인한 서비스 중단 시, 회사는 환불을 제공할 수 있다.</li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg08" id="gg08"></a><strong>제 8 조 ("회사"의 의무)</strong></dt>
            <dd>
                <ol>
                    <li>①	"회사"는 의뢰자에게 안정적이고 품질 높은 서비스를 제공하기 위하여 최선을 다하여야 한다. </li>
                    <li>②	"회사"는 의뢰자의 개인정보를 보호하고 관련 법규를 준수하여야 한다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg09" id="gg09"></a><strong>제 9 조 ("의뢰자"의 의무)</strong></dt>
            <dd>
                <ol>
                    <li>①	"의뢰자"는 본 약관의 규정 및 기타 "회사"가 통지하는 사항을 준수하여야 한다. </li>
                    <li>②	"의뢰자"는 "회사"가 제공하는 의뢰서 양식에 맞춰서 필요한 정보를 기재하여야 한다. </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a name="gg10" id="gg10"></a><strong>제 10 조 (서비스 제공의 중지)</strong></dt>
            <dd>
                <ol>
                    <li>
                        ① "회사"는 다음 각 호의 어느 하나에 해당하는 경우 의뢰 서비스의 제공을 일시적으로 중지할 수 있다.
                        <ol>
                            <li>1. 시스템 유지보수 및 개선을 위한 경우</li>
                            <li>2. 천재지변, 전쟁, 사고 등 불가항력적인 사유로 인한 경우</li>
                        </ol>
                    </li>
                </ol>
            </dd>
        </dl>
    </li>
    <li class="etc">
        <dl class="nobg">
            <dt><strong>부칙</strong></dt>
            <dd>
                <ul>
                    <li>- 이 약관은 2024년 01월 22일부터 시행한다</li>
                </ul>
            </dd>
        </dl>
    </li>
</ol>