<ul>
    <li data-no="251">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[연봉검색]</span>연봉검색 서비스를 이용하던 중 정확하지 않은 저희 회사의 연봉정보를 발견하였습니다. 연봉정보의 삭제가 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아에 게시된 연봉정보는 개인회원이 직접 등록한 연봉정보로서, 제 3자에 의한 해당 정보의 수정 및 삭제는 기본적으로 불가합니다.
            <br>단, 아래 조건에 해당하는 경우에 한해 내부적인 검토 후 연봉정보를 삭제할 수 있습니다.
            <br>
            <br>- 정확하지 않은 연봉정보로 인해 채용 과정상의 불이익이 발생하고 있다고 판단되는 경우.
            <br>- 실제 지급되는 임금수준에 비해 현저하게 낮은 연봉정보로 인해 채용 과정상의 불이익이 발생하고 있다고 판단되는 경우.
            <br>- 제공되고 있는 연봉정보가 연봉정보를 등록한 본인이 아닌 제 3자의 연봉정보로 오인되어 이로 인한 불이익이 제 3자에게 발생된다고 판단되는 경우.
            <br>
            <br>만약 삭제 요청을 하실 경우 다음의 내용 또한 면밀히 검토후 요청 해 주시기 바랍니다. 연봉정보 검색 중 발견하신 연봉정보의 연봉적용기간을 다시 한번 확인해 주시기 바랍니다. 연봉적용기간에 따라 현재 수준의 연봉수준(임금 지급 수준)과 상이할 수 있습니다.
            <br>또한 근무부서 및 직무분야, 경력에 따라 동일한 회사이더라도 연봉수준이 서로 다를수 있습니다. 이 모든 조건을 모두 확인한 후에도 검색되고 있는 연봉정보가 정확하지 않다고 판단되실 경우에는 잡코리아 고객센터로 요청해 주시면 판단 후 처리해 드리도록 하겠습니다.
            <br>
            <br>잡코리아 고객센터 : 1588-9350 | helpdesk@jobkorea.co.kr
            <br>
        </div>
    </li>
    <li data-no="235">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기업 멤버스]</span>기업회원 혜택페이지 이용안내</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">잡코리아 기업회원 혜택 페이지(<a href="http://www.jobkorea.co.kr/members/gi/" target="n"><font color="navy"><b>http://www.jobkorea.co.kr/members/gi/</b></font></a>)는 잡코리아(<a href="http://www.jobkorea.co.kr" target="n"><font color="navy"><b>www.jobkorea.co.kr</b></font></a>)에 기업회원ID를 보유하고, 계시면 누구나 이용가능합니다.</div>
    </li>
    <li data-no="234">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기타 서비스]</span>지방에도 잡코리아가 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            Recruiting Network라는 슬로건 아래 7대 광역시와 8대권역을 중심으로 한
            <br>서비스를 제공하는 잡코리아는 등록하신 모든 채용공고가 전국 15개지역
            <br>잡코리아에도 동시 노출됩니다.
            <br>
            <br><b>☞ 전국 15개 지역 잡코리아</b>
            <br>경기 잡코리아 - <a href="http://031.jobkorea.co.kr" target="new">http://031.jobkorea.co.kr</a>
            <br>인천 잡코리아 - <a href="http://032.jobkorea.co.kr" target="new">http://032.jobkorea.co.kr</a>
            <br>강원 잡코리아 - <a href="http://033.jobkorea.co.kr" target="new">http://033.jobkorea.co.kr</a>
            <br>
            <br>충남 잡코리아 - <a href="http://041.jobkorea.co.kr" target="new">http://041.jobkorea.co.kr</a>
            <br>대전 잡코리아 - <a href="http://042.jobkorea.co.kr" target="new">http://042.jobkorea.co.kr</a>
            <br>충북 잡코리아 - <a href="http://043.jobkorea.co.kr" target="new">http://043.jobkorea.co.kr</a>
            <br>
            <br>부산 잡코리아 - <a href="http://051.jobkorea.co.kr" target="new">http://051.jobkorea.co.kr</a>
            <br>울산 잡코리아 - <a href="http://052.jobkorea.co.kr" target="new">http://052.jobkorea.co.kr</a>
            <br>대구 잡코리아 - <a href="http://053.jobkorea.co.kr" target="new">http://053.jobkorea.co.kr</a>
            <br>경북 잡코리아 - <a href="http://054.jobkorea.co.kr" target="new">http://054.jobkorea.co.kr</a>
            <br>경남 잡코리아 - <a href="http://055.jobkorea.co.kr" target="new">http://055.jobkorea.co.kr</a>
            <br>
            <br>전남 잡코리아 - <a href="http://061.jobkorea.co.kr" target="new">http://061.jobkorea.co.kr</a>
            <br>광주 잡코리아 - <a href="http://062.jobkorea.co.kr" target="new">http://062.jobkorea.co.kr</a>
            <br>전북 잡코리아 - <a href="http://063.jobkorea.co.kr" target="new">http://063.jobkorea.co.kr</a>
            <br>제주 잡코리아 - <a href="http://064.jobkorea.co.kr" target="new">http://064.jobkorea.co.kr</a>
        </div>
    </li>
    <li data-no="232">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기타 서비스]</span>근무빌딩별 서비스는 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            서울특별시에 있는 25개 행정구 중에서 우편번호에 등록된 근무빌딩의 채용정보 서비스입니다.
            <br>
            <br>해당 구를 선택하시면, 구에 속해 있는 채용공고가 등록된 대형빌딩의 리스트를 확인하실수 있습니다.
            <br>
            <br>빌딩명을 선택하시면, 빌딩에 입주되어 있는(회사주소지에 빌딩주소가 포함되어있는) 기업의 채용정보를 확인하실 수 있습니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/LIst_GI/GI_Building.asp" target="blank"><b><u>☞ 근무빌딩별 채용정보 바로가기</u></b></a>
            <br>
            <br>
        </div>
    </li>
    <li data-no="200">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기타 서비스]</span>등록 한(마감 된) 채용정보가 포털 사이트에서 검색됩니다. 어떻게 하면 안 나오게 할 수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            포털 사이트에서는 `BOT` 이라는 검색엔진 프로그램을 여러 사이트들에 접근시켜
            <br>검색결과에 만들 내용을 생성합니다.
            <br>
            <br>잡코리아도 BOT의 검색대상에 포함되어 있기 때문에 수집된 검색결과가 나타나는 것이며, 이 검색결과를 삭제하기 위해서는 먼저 검색이 되는 대상 웹 페이지(채용정보)를 삭제 후, 해당 포털 사이트에 ‘검색결과 내 컨텐츠 삭제요청’을 해야 합니다.
            <br>
            <br>만약 마감된 채용정보가 검색이 되고 있다면, 이는 실제 잡코리아에서는 마감이 되었어도 포털 사이트에서 수집한 지난 내용이 노출 되고 있는 경우이므로 별도의 삭제작업 없이 해당 포털 사이트에 삭제요청을 진행하면 됩니다.
            <br>
            <br>아래의 주소들에 회원님께서 직접 접속하여 삭제 요청을 하실 수 있으며, 잡코리아 고객센터의 1 : 1 고객상담으로 관련 내용을 보내주시면 삭제요청을 대신 접수해 드리기도 합니다.
            <br>
            <br>이때, 최종 삭제까지는 3일~5일. 경우에 따라서는 7일 이상 소요될 수도 있습니다. (근무일 기준.)
            <br>
            <br>또한, 포털 사이트에 웹문서 삭제 요청을 하시더라도 100% 삭제 보장은 어려울 수 있는 점 참고 부탁드립니다.
            <br>
            <br>
            <br>※ 주요 포털 사이트 검색결과 삭제 요청 페이지
            <br>
            <br>     1. 구글 삭제요청 <a href="https://www.google.com/webmasters/tools/removals?hl=ko&amp;pli=1" target="_blank"><u><font color="blue">바로가기</font></u></a>
            <br>        - 구글 ID 필요
            <br>
            <br>     2. 네이버 삭제요청 <a href="https://help.naver.com/inquiry/input.help?categoryNo=17744&amp;serviceNo=5626&amp;lang=ko" target="_blank"><u><font color="blue">바로가기</font></u></a>
            <br>
            <br>     3. 다음 삭제요청 <a href="https://cs.daum.net/question/15.html" target="_blank"><u><font color="blue">바로가기</font></u></a>
            <br>        - 이동 후 : 문의분류 - 사이트, 웹문서, 웹뉴스 문의, 하위분류 - 웹문서 삭제 선택
            <br>
            <br>     4. 네이트 삭제요청 <a href="https://helpdesk.nate.com/web/mail/inquiry" target="_blank"><u><font color="blue">바로가기</font></u></a>
            <br>        - 이동 후 : 서비스분류 - 검색, 질문분류 - 통합 검색 선택
            <br>
        </div>
    </li>
    <li data-no="174">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기업 멤버스]</span>기업회원 등급 및 유지 안내</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아 기업회원 혜택서비는 업계 최초로 회원 등급부여 2007년 1월 1일을 시작으로 매년 1월에 유료 누적 금액을 재산정하여, 등급을 재조정합니다.
            <br>
            <br>각 기업의 회원등급은 유료 상품 구매 금액으로 산정되며, 최근 2년을 산정하여 각 등급에 맞는 금액 이상인 경우에만 유지할 수 있습니다.
            <br>
            <br>플래티늄(Platinum) : 1,000만원이상
            <br>블랙(Black) : 500만원 이상 ~ 1,000만원 미만
            <br>레드(Red) : 100만원 이상 ~ 500만원 미만
            <br>블루(Blue) : 100만원 미만
            <br>
            <br>2년간 유료 누적금액이 없을 경우, 기업회원 등급은 블루(Blue)로 변경되게 됩니다.
            <br>
            <br>* 등급부여 유료상품 : 잡코리아 서비스중 배너형 채용광고, 유료 채용공고,
            <br>인재검색서칭서비스, 기업회원 패키지상품, 문자메시지 발송서비스의 결제금액 합계
        </div>
    </li>
    <li data-no="161">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기타 서비스]</span>동영상이 녹색으로 보이실때..(안나올때)</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            웹 상에서의 동영상의 화면색이 정상으로 나오지 않는 현상은 다음 3가지로 볼수있습니다.
            <br>
            <br>[디스플레이의 하드웨어 가속문제]
            <br>[Windows Media Player 환경문제]
            <br>[그래픽 관련]
            <br>
            <br>
            <br><b>[디스플레이의 하드웨어 가속문제] 해결방법</b>
            <br>
            <br>1) 시작 -&gt; 설정 -&gt; 제어판 -&gt; 디스플레이를 열어 [설정] 탭의
            <br>   [고급] 버튼을 고릅니다.
            <br>
            <br>[ 그림 1 ]
            <br><img src="//file3.jobkorea.co.kr/albamon/notice/Mon_20060406_4.jpg" alt="">
            <br>
            <br>2) 아래 창이 뜨면 [문제해결] 탭의
            <br>   [하드웨어 가속(H)] 의 바 를 [없음] 쪽으로 한 단계씩 이동하여
            <br>   증상을 확인 해봅니다.
            <br>
            <br>   위 방법에도 문제해결이 않되시면 [ 그림 2 ] 방법을 참고합니다.
            <br>
            <br>[ 그림 2 ]
            <br><img src="//file3.jobkorea.co.kr/albamon/notice/Mon_20060406_5.jpg" alt="">
        </div>
    </li>
    <li data-no="153">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기타 서비스]</span>동영상을 등록하려면 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            회사소개 동영상 파일을 가지고 계시다면 잡코리아에서 무료로 제공하는 20MB의 공간에 등록이 가능합니다.
            <br>
            <br>로그인 후 HOME &gt; 기업회원 서비스 &gt; Power 서비스 &gt; 동영상 기업정보 메뉴를 확인하여 주시기 바랍니다.
            <br>
            <br>파일 형식은 WMA, WMV, ASF만 가능하며, 파일 용량은 20MB까지 제공됩니다. 파일의 용량에 따라 등록시 다소 시간이 걸릴 수도 있습니다.
            <br>
            <br>채용기업으로서의 인지도 향상과 동시에 귀사를 대외적으로 홍보할 수 있는
            <br>수단이되기도 합니다.
            <br>등록된 동영상을 통해서 귀사에 지원하려는 구직자와 기타 잡코리아 이용자들에게 귀사의 활동에 대해 보다 많은 정보를 확인할 수 있습니다.
            <br>
            <br>동영상을 등록하시고, 현재 진행중인 채용공고가 있으시다면
            <br>
            <br>HOME &gt; 채용정보 &gt; 동영상 채용관 &gt; 채용진행중
            <br>
            <br>리스트에도 동시게재 됩니다.
        </div>
    </li>
    <li data-no="144">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[기업 멤버스]</span>기업회원 무료 혜택 안내</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아는 기업회원 중 기업멤버스 서비스를 신청하신 회원에 한해 기업회원 혜택을 드리고 있습니다.
            <br>
            <br>1. 잡코리아 연봉검색 서비스
            <br>2. 기업 문서서식 무제한 다운로드
            <br>3. 잡코리아 충전금 적립
            <br>4. The HR 무료 구독
            <br>5. 입사지원 현황,통계분석
            <br>
            <br>위 모든 서비스는 멤버스 가입과 동시에 신청이 가능하며, 각 등급에 맞게 자동 적용됩니다.
            <br>또한, 로그인 이후 각 서비스별 사용 기간이 노출되어 사용에 편리함을 더했습니다.
            <br>
            <br>(<a href="http://www.jobkorea.co.kr/members/gi/" target="n"><font color="navy"><b>[기업회원 혜택 바로가기]</b></font></a>)
        </div>
    </li>
</ul>