<ul>
    <li data-no="507" class="">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>계정에서 발생한 지원자 개인정보 접속기록을 확인하고 싶으면 어떻게 해야하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            회원님의 요청이 있을 경우 기업회원의 개인정보 접속기록을 제공하고 있습니다. 지원자 또는 인재의 개인정보가 포함된 페이지 접근 시 모든 접속기록을 1년간 보관하고 있습니다.
            <br>개인정보 접속기록 확인이 필요하실 경우 아이디, 90일 내 발급한 사업자등록증명원, 확인하고자 하는 기간을 포함하여 고객센터 (helpdesk@jobkorea.co.kr) 를 통해 문의해주세요.
            <br>업무처리는 영업일 기준 최대 5일까지 소요될 수 있습니다.
        </div>
    </li>
    <li data-no="503">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>2단계 인증 담당자 없이 인증할 수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            가입자 또는 2단계 인증 담당자가 회사 이메일 도메인을 등록한 경우, 본인의 회사 이메일로 인증번호를 수신할 수 있습니다.
            <br>
            <br>- 회사 이메일 도메인은 1개만 등록 할 수 있습니다.
            <br>- 포털 도메인 (naver, gmail 등)은 등록할 수 없습니다.
            <br>- 메뉴 위치 : 기업정보관리 &gt; 2단계 인증 관리
        </div>
    </li>
    <li data-no="501">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>2단계 인증 담당자는 어떻게 등록 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            1. 가입자 또는 2단계 인증 담당자에게 새로운 담당자 등록 요청
            <br>
            <br>2. 가입자 또는 2단계 인증 담당자의 경우, 본인 확인 후 새로운 담당자 등록 가능
            <br>- 가입자는 이메일, 담당자는 등록된 휴대전화번호 또는 이메일을 통해 본인 인증을 완료 할 수 있습니다.
            <br>- 본인확인 인증은 해당 브라우저에서 인증 당일만 유효 합니다.
            <br>- 메뉴 위치 : 기업정보관리 &gt; 2단계 인증 관리
            <br>
            <br>3. 새로운 담당자 정보 등록
            <br>- 담당자로 등록 시, 해당 정보로 2단계 인증 번호를 수신할 수 있습니다.
        </div>
    </li>
    <li data-no="499">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>2단계 인증이란?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            2단계 인증은 기업/서치펌회원 계정 도용 시, 인재 또는 지원자의 개인정보보호를 위한 이중 보안 서비스입니다.
            <br>
            <br>인재 또는 지원자의 개인 정보를 조회할 수 있는 페이지에 접속 시, 구직자의 개인 정보 보호 등을 위하여 추가 인증 절차가 필수로 진행됩니다.
            <br>
            <br>2단계 인증은 PC웹, 모바일(웹/앱) 모두 해당됩니다.
            <br>
            <br>인증 위치
            <br>1. 인재정보 접근 시
            <br>2. 지원자 이력서 열람 시
            <br>
            <br>인증 기준
            <br>- 브라우저 당 1회
            <br>
            <br>인증 유효기간
            <br>- 6개월
            <br>
            <br>인증 방법
            <br>- 가입자 또는 2단계 인증 담당자의 휴대전화번호, 이메일로 인증 가능
            <br>- 회사 이메일 도메인 설정 시, 본인의 회사 메일로 인증 가능
            <br>
            <br>인증내역 확인
            <br>- 기업정보관리 &gt; 2단계 인증 내역
            <br>
            <br>2단계 인증 담당자 확인
            <br>- 기업정보관리 &gt; 2단계 인증 관리
            <br>
        </div>
    </li>
    <li data-no="495">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>로그인 상태 유지란?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            편리하게 로그인 상태를 유지할 수 있는 기능입니다.
            <br>‘로그인 상태 유지’를 체크한 후 로그인하면, 로그아웃하거나 브라우저의 쿠키를 삭제하기 전까지는 로그인 상태가 계속 유지됩니다.
            <br>단, 24시간 동안 동일 브라우저로 해당 기기(PC, 스마트폰 등)에서 잡코리아를 사용하지 않는다면 ‘로그인 상태 유지’는 해제될 수 있습니다.
            <br>
            <br>· 유의사항
            <br> - 개인정보 보호를 위해 개인 기기(PC, 스마트폰 등)에서만 사용해 주세요.
            <br> - 이 기능을 이용함으로써 발생하는 보안 문제의 책임은 본인에게 있습니다.
            <br> - 브라우저에서 제공하는 ‘개인정보보호 브라우징 (InPrivate 브라우징)’ 상태로 이용할 경우 쿠키가 저장되지 않아 ‘로그인 상태 유지’ 기능을 사용할 수 없습니다.
            <br>
            <br>· 해제방법
            <br> - 방법1. 로그아웃하면 ‘로그인 상태 유지’가 바로 해제됩니다.
            <br> - 방법2. 브라우저 캐시 및 쿠키를 삭제하면 ‘로그인 상태 유지’가 해제됩니다.
            <br>
        </div>
    </li>
    <li data-no="486">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>회원가입이 되지 않는데 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            회원가입 진행이 원활하지 않으신가요?
            <br>지금부터 아래 순서에 따라 인터넷 설정을 변경하여 주시기 바랍니다.
            <br><b>(Internet Explorer 기준)</b>
            <br>
            <br><strong>가이드</strong>
            <br>① 브라우저에서 도구의 인터넷 옵션 클릭 &gt; 인터넷 옵션 창에서 [일반] 탭의 `검색 기록` 삭제
            <br>    &gt; 검색기록 삭제 창에서 설정값을 <font color="#0061f7"><b>모두 체크 후 삭제</b></font>
            <br>② [일반] 탭의 `검색 기록` 설정 클릭 &gt; 웹 사이트 데이터 설정
            <br>    &gt; [임시 인터넷 파일] 탭의 설정을 <font color="#0061f7"><b>"웹 페이지를 열 때마다(E)"</b></font>로 설정 확인
            <br>③ 인터넷 옵션 [보안]탭에서 `신뢰할 수 있는 사이트`를 선택 한 후[기본수준]클릭
            <br>    &gt; `신뢰할 수 있는 사이트`를 선택 [사이트]버튼 클릭 &gt; 웹사이트 추가에 &gt;<font color="#0061f7"><b>"*.jobkorea.co.kr"</b></font>추가 후 닫기
            <br>④ 인터넷 옵션 [보안]탭에서 `제한된 사이트`를 선택 한 후[기본수준]클릭
            <br>    &gt; 제한된 사이트에서 잡코리와 관련된 웹사이트가 있다면 <font color="#0061f7"><b>모두 제거</b></font>
            <br>⑤ 브라우저에서 도구의 인터넷 옵션 클릭 &gt; 인터넷 옵션 창에서 [개인정보] 탭의 <font color="#0061f7"><b>"팝업 차단 사용(B)"</b></font> 체크 해제
            <br>⑥ 인터넷 옵션 창의 [고급]탭을 선택 &gt; <font color="#0061f7"><b>"고급설정 복원(R)"</b></font> 클릭
            <br>
            <br>위와 같이 설정하였으나, 지속적으로 회원가입이 어려우신 경우, 인터넷 옵션 [고급] 탭에서
            <br>Internet Explorer의 설정을 기본 상태대로 <font color="#0061f7"><b>[원래대로]</b></font>를 클릭해주시기 바랍니다.
            <br>
            <br>브라우저의 기본 설정을 <font color="#0061f7"><b>[원래대로]</b></font>로 클릭하여 설정하신 이후에도 회원가입이 되지 않으시는 경우,
            <br>사용하시는 <font color="#0061f7"><b>브라우저의 업데이트 된 버전</b></font>을 설치하시는 것을 권해드립니다.
            <br>
            <br><a href="https://support.microsoft.com/ko-kr/help/17621/internet-explorer-downloads" target="n"><font color="#0061f7"> ▶ IE11 설치하러 바로 가기</font></a>&lt;- Click
            <br>
            <br>
        </div>
    </li>
    <li data-no="256">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>아이핀(I-Pin)이란 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            아이핀(i-PIN)이란?
            <br>
            <br>주민등록번호를 대신하여 본인임을 확인할 수 있는 사이버 신원확인 번호입니다.
            <br>
            <br>아이핀을 이용하여 잡코리아에 회원가입을 하시려면 아이핀을 발급하는 기관을 통해 아이핀을 발급하신 후 회원가입을 할 수 있습니다.
            <br>
            <br>아이핀은 아래 아이핀 발급기관을 통해 자유롭게 발급받을 수 있습니다.
            <br>
            <br>1. 서울신용평가정보 siren24.com / 1577-1006
            <br>2. 나이스신용평가정보 idcheck.co.kr / 1588-2486
            <br>3. 코리아크레딧뷰로 ok-name.co.kr / 02)708-1000
            <br>4. 공공아이핀센터 gpin.go.kr / 02)818-3050
        </div>
    </li>
    <li data-no="255">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>아이핀을 발급받으려면 이용자가 별도의 비용을 부담해야 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">아이핀을 이용하시려는 회원님께서는 별도의 비용부담 없이 아이핀의 가입, 발급, 인증 등의 절차를 수행하실 수 있습니다.</div>
    </li>
    <li data-no="254">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>하나의 아이핀 발급으로 다른 웹사이트에서도 아이핀 서비스 이용이 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">발급하신 아이핀으로 잡코리아뿐만 아니라 타 사이트에서도 동일하게 인증 수단으로 사용하실 수 있습니다.</div>
    </li>
    <li data-no="238">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>비밀번호를 잊어버렸어요. 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            비밀번호 찾기는 잡코리아 첫 화면에서 하실 수 있습니다.
            <br>
            <br>1단계. 잡코리아 첫 화면의 우측에 위치한 로그인 박스의 <font color="orange"><strong>[비밀번호 찾기]</strong></font>를 클릭해 주세요.
            <br>
            <br>2단계. 가입 시 등록된 아이디, 가입자명, 사업자등록번호를 정확히 입력해 주세요.
            <br>
            <br>3단계. 본인 확인 완료 후에 가입 시 등록한 이메일로 임시 비밀번호를 발송해 드립니다.
            <br>
            <br>* 위 방법으로 비밀번호 확인이 힘드신 경우 페이지 하단의 비밀번호 분실신고로 접수해 주시면 임시비밀번호를 발송해 드립니다.
        </div>
    </li>
    <li data-no="237">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>기업정보에서 지도 저장하기가 되지 않아요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원홈 &gt; 기업정보 관리</strong>로 이동하신후 <strong>회사위치정보</strong>에서  [회사위치 수정] 버튼을 클릭하시기 바랍니다.
            <br>
            <br>2. 위의 방법으로 이용해보시고 만약 저장하기 버튼이 보이지 않는다면
            <br>    팝업된 창 안에 커서를 클릭 하신 후 드레그를 아래로 하시면 저장하기 버튼이 밑에서 위로 보여질 수 있습니다.
            <br>
            <br>3. 여러가지 방법을 통해 확인시에도 보여지지 않는다면
            <br>    번거롭더라도 잡코리아 고객센터 [1588-9350] 로 연락주시거나 고객센터 메일 혹은 helpdesk@jobkorea.co.kr 로 연락을 주시면
            <br>    해결방법을 친절하게 안내해 드리도록 하겠습니다.
        </div>
    </li>
    <li data-no="231">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>로그인이 안돼요. 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            로그인이 되지 않을 경우 회원님의 PC 설정상태를 확인해 주시기 바랍니다.
            <br>
            <br>
            <br><strong>1. 쿠키 등 검색 기록을 삭제해 주세요. </strong>
            <br>(1) 브라우저 실행 &gt; 도구 &gt; 인터넷 옵션 &gt; 일반 &gt; [검색 기록 삭제] 클릭해 주세요.
            <br>(2) 맨 위 [즐겨찾기 웹 사이트 데이터 보존]을 제외하고 모든 항목에 체크한 후 아래 [삭제] 버튼 클릭해 주세요.
            <br>(3) 검색 기록 삭제가 완료되면 인터넷 옵션 창의 [확인] 버튼을 클릭하세요.
            <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어 잡코리아 로그인을 해주세요.
            <br>
            <br><strong> 2. 보안 수정 재설정</strong>
            <br>(1) 브라우저 실행 &gt; 도구 &gt; 인터넷 옵션 &gt; 보안 &gt; 인터넷 메뉴를 클릭하고, 보안 수준을 [기본 수준] 클릭해 주세요.
            <br>(2) 신뢰할 수 있는 사이트 &gt; 사이트 버튼 클릭 후  [*.jobkorea.co.kr]을 추가하여 등록해 주세요.
            <br>(3) 인터넷 옵션 창의 [확인] 버튼을 클릭하세요.
            <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어 잡코리아 로그인을 해주세요.
            <br>
            <br><strong> 3. 제한된 사이트에서 해지 </strong>
            <br>(1) 브라우저 실행 &gt; 도구 &gt; 인터넷 옵션 &gt; 보안 &gt; 제한된 사이트 클릭하고 [사이트] 버튼을 클릭해 주세요.
            <br>(2) 제한된 사이트로 잡코리아가 등록되어 있다면, 선택하신 후 우측의 [제거] 버튼을 클릭해 주세요.
            <br>(3) 인터넷 옵션 창의 [확인] 버튼을 클릭하세요.
            <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어 잡코리아 로그인을 해주세요.
            <br>
            <br>
            <br>위 항목에 해당하지 않는 경우 잡코리아 고객센터로 문의주시면 확인 후 안내 드리도록 하겠습니다.
            <br>
            <br><strong>[잡코리아 고객센터] </strong>
            <br>· ☎: 1588-9350
            <br> · E-mail: helpdesk@jobkorea.co.kr 전화를 주시거나 메일로 내용을 보내주시기 바랍니다.
        </div>
    </li>
    <li data-no="175">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[회원가입·로그인]</span>발급받은 아이핀 ID와 비밀번호를 분실했어요. 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            발급받으신 본인확인기관 아이핀 팝업창에서 "아이핀 아이디/비밀번호 찾기" 메뉴를 통해 확인할 수 있습니다.
            <br>
            <br>임시비밀번호는 이메일, 신용카드, 공인인증서, 휴대폰 인증 방법을 통해 재설정 하실 수 있습니다.
        </div>
    </li>
    <li data-no="173">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>설치 안내대로 보안 프로그램을 설치했는데, 계속 설치하라고 나옵니다.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            설치가 정상적으로 완료가 되지 않았거나, 보안상의 이유로 설치가 거절된 경우에는 설치 과정을 정상적으로 진행했다고 하더라도 설치가 안된 것으로 판단될 수가 있습니다. 이 경우에는 아래와 같이 문제를 해결하시기 바랍니다.
            <br>
            <br>[방법 1]
            <br>구 버전의 보안프로그램이 정상적으로 종료되지 못한 경우 새 버전의 설치를 방해할 수가 있습니다.
            <br>이 경우, 기존 프로그램이 설치되었을 수 있기 때문에 다음과 같이 시도해 주시기 바랍니다.
            <br>
            <br>* 기존 잡코리아 보안프로그램을 삭제 하시고 -&gt; 보안 프로그램을 재설치 하신 후 -&gt; PC를 재부팅 해 주시기 바랍니다.
            <br>
            <br>[방법 2]
            <br>설치가 되어 있다고 하더라도 인터넷 익스플로러의 설정 값에 따라서 실행이 안될 수가 있습니다. 이 경우 인터넷 익스플로러 설정 값을 고쳐줘야 합니다. 먼저, 인터넷익스플로러의 메뉴 중 "도구"를 선택합니다. (메뉴가 안 보일 때는 키보드의 "Alt" 키를 누르면 나타납니다.) "도구" → "인터넷옵션" 메뉴를 선택합니다. "프로그램" 탭을 선택한 후 "추가 기능 관리" 버튼을 누릅니다. 좌측의 "표시" 부분을 "다운로드 받은 컨트롤" 로 선택하면 우측에 프로그램들이 나열됩니다. 그 중, “webprotectorcontrolex Control” 의 상태가 "사용함"으로 되어 있는지 확인 합니다. (이 때, 항목이 보이지 않는다면 설치가 되어있지 않음을 뜻합니다.) 만약 해당항목이 "사용 안 함"으로 되어 있다면 "사용 함"으로 바꿔줍니다.
            <br>
            <br>[방법 3]
            <br>회사의 경우 위와 같이 처리를 해도 정상적인 이용이 되지 않는다면, 컴퓨터 자체의 보안권한에 제한이 걸려있을 수도 있습니다. 즉, 회사 정책상 프로그램 설치에 제한을 둔 경우 잡코리아의 보안프로그램 설치도 되지 않습니다. 이 경우 회사 내의 보안담당자에게 문의를 하시기 바랍니다.
            <br>
            <br>위의 3가지 방법으로도 정상적인 이용이 되지 않는다면, 고객센터로 문의하여 주시기 바랍니다.
        </div>
    </li>
    <li data-no="172">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>수동 설치는 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            아래의 [보안 프로그램 수동 설치하기] 를 클릭하여 보안 프로그램을 다운로드 한 후 "BeSafeWebManualSetup.exe" 를 실행하면 보안 프로그램이 자동으로 설치됩니다.
            <br>
            <br><center><a href="/WebSecuritySetup/BeSafeWebManualSetup.exe"><b>[보안 프로그램 수동 설치하기]</b></a></center>
            <br>
            <br>
        </div>
    </li>
    <li data-no="171">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>수동 설치를 통하여 보안 프로그램을 설치했는데, 삭제는 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            수동 설치를 통하여 보안 프로그램을 설치한 경우 제어판의 "프로그램 추가/제거" 에 BeSafeWebManualSetup 항목이 추가되어 있는 것을 확인할 수 있습니다. 해당 프로그램을 삭제하시려면, 제거 버튼을 클릭하여 삭제하시면 됩니다.
            <br>또한 수동 제거툴을 이용하여 보안 프로그램을 삭제하셔도 됩니다.
            <br>
            <br><center><a href="/WebSecuritySetup/Manualuninstaller.exe"><b>[보안 프로그램 수동제거툴 다운로드]</b></a></center>
            <br>
            <br>
        </div>
    </li>
    <li data-no="170">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>웹페이지를 통해서 자동으로 보안 프로그램이 설치되었는데, 삭제는 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기본적으로 보안 프로그램은 해당 보안이 적용되어 있는 페이지에 접속하지 않는 이상 시스템에 아무런 영향을 미치지 않으므로 삭제하지 않으셔도 됩니다. 굳이 삭제를 해야 하는 경우라면 ‘수동 제거툴’을 이용하여 삭제하시면 됩니다. ‘수동 제거툴’을 이용하여 보안 프로그램을 제거할 경우 열려져 있는 모든 보안페이지가 자동으로 닫히므로, 작업을 완료한 후에 제거를 하셔야 합니다.
            <br>
            <br><center><a href="/WebSecuritySetup/Manualuninstaller.exe"><b>[보안 프로그램 수동제거툴 다운로드]</b></a></center>
            <br>
            <br>
            <br>
        </div>
    </li>
    <li data-no="169">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>보안 프로그램을 설치하지 않고, 잡코리아 사이트를 이용할 수는 없나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">잡코리아의 대부분은 보안 프로그램을 설치하지 않고 이용하실 수 있으나 보안이 반드시 필요한 일부 페이지는 반드시 보안 프로그램(Web Protector)을 설치하셔야 정상적으로 이용하실 수 있습니다.</div>
    </li>
    <li data-no="168">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>보안프로그램이 정상적으로 설치된 것 같은데, 특정 페이지에 접속을 하면 ‘보안 프로그램을 설치할 수 없</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아 보안정책상 의도적으로 제한한 경우일 수가 있습니다.
            <br>
            <br>1. 웹 브라우저가 인터넷 익스플로러가 아닌 경우 (인터넷 익스플로러 만 지원합니다.)
            <br>2. 터미털 접속 후 보안 페이지를 보는 경우
            <br>3. 원격 데스크 탑으로 접속 후 보안 페이지를 보는 경우
            <br>
            <br>위와 같은 조건은 보안상 의도적으로 이용을 제한한 경우로써 보안페이지를 열람하실 수가 없습니다. 만약 위와 같은 조건이 아님에도 이용이 되지 않는다면, 아래의 링크를 클릭하여 보안프로그램을 수동 설치 해보시기 바랍니다.
            <br>
            <br><center><a href="/WebSecuritySetup/BeSafeWebManualSetup.exe"><b>[보안 프로그램 수동 설치하기]</b></a></center>
            <br>
            <br>수동 설치 후에도 정상이용이 되지 않을 때는 잡코리아 고객센터로 문의하여 주시기 바랍니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="167">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem tplBtnMore"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[보안 서비스]</span>‘보안 프로그램을 설치할 수 없습니다’라고 나옵니다.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            다음과 같은 메시지가 나타나는 경우 설치가 이뤄지지 않을 수 있습니다.
            <br>
            <br>[상황 1]
            <br>"지금 사용하시고 계시는 운영체제는 지원이 되지 않습니다."
            <br>보안 프로그램은 Win98 이상에서만 지원이 됩니다. 아래의 "지원 운영체제"를 확인하여 주시기 바랍니다.
            <br>
            <br><b>- 보안 프로그램 정식지원 운영체제</b>
            <br>        Windows 98 / Windows NT / Windows 2000 / Windows XP
            <br>        Windows 2003 / Windows VISTA / Windows 7
            <br>        (지원하지 않는 운영체제 : Windows 95 이하)
            <br>
            <br>지원이 되지 않는 운영체제 및 환경을 사용중이실 경우 운영체제를 업그레이드 하셔야만 서비스를 제공받으실 수 있습니다.
            <br>
            <br>[상황 2]
            <br>"현재 사용하시고 있는 운영체제 언어를 지원하지 않습니다."
            <br>보안 프로그램은 운영체제의 기본 언어가 한글/영어일 경우에만 지원이 되고 있습니다. 지원이 되는 언어인데도 위와 같은 메시지가 노출되면, 고객센터로 문의하여 주시기 바랍니다.
            <br>
            <br>
        </div>
    </li>
</ul>