<ul>
    <li data-no="505">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>간편결제가 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            간편결제는 신용카드를 스마트폰 앱에 미리 등록하여, 지문인식이나 비밀번호로 간편하게 결제할 수 있는 서비스입니다.
            <br>
            <br>잡코리아에서는 네이버페이, 카카오페이, 페이코, 토스페이, 삼성페이 등 총 5개 브랜드의 간편결제 서비스를 제공하고 있습니다.
            <br>(단, 삼성페이는 ios 기기에서 이용이 불가합니다.)
            <br>
            <br>카카오페이와 네이버페이로 결제 시, 결제 영수증은 각 간편결제사에서 확인 가능하며
            <br>포인트/머니 결제 시 현금영수증 확인은 아래 경로에서 확인 가능합니다.
            <br>
            <br>1) 카카오페이 : 카카오페이 &gt; 하단 탭바 전체 메뉴 &gt; 통합내역 &gt; 결제내역 선택 -&gt; 현금영수증 버튼 확인
            <br>2) 페이코 : 페이코 정책상 현금영수증을 발행하지 않으며, 소득공제 신청 건에 한해 1년치 내역을 국세청에 한꺼번에 전달합니다.
            <br>3) 토스페이 : 토스 &gt; 하단 탭바 토스페이 &gt; 내 쇼핑·결제 &gt; 결제 내역 &gt; 상세 결제 내역 &gt; 우측 상단 거래 명세서 -&gt; 거래 명세서 하단 현금영수증 다운로드 버튼
            <br>
            <br><b>
                카카오페이, 페이코, 토스페이의 경우 앱 내에서 현금영수증 발급정보 사전 등록이 필요합니다.
                <br>현금영수증 발급정보 사전 등록은 각 앱 내에서 등록 가능합니다. <b>
                    <br>
                    <br>
                </b>
            </b>
        </div><b>
            <b>
            </b>
        </b>
    </li>
    <b><b>
    <li data-no="250">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>세금계산서 확인버튼 클릭 후 반응이 없습니다.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            e-메일에서 [수신문서 확인하기] 버튼을 클릭하신 후 세금계산서 화면이 뜨지 않으셨나요?
            <br>
            <br>'세금계산서 발행 사이트(Trusbill')에 처음 접속하셨을때 뜨는 보안경고창에 '아니오'를 클릭하셨기 때문입니다. 다음 순서에 따라 처리하신 후 보안경고창에 '예'를 눌러주세요.
            <br>
            <br>1. 인터넷 익스플로러 메뉴에서 [도구] -&gt; [인터넷 옵션] 클릭
            <br>2. 중간에 나와있는 [임시인터넷 파일]의 [파일삭제] 클릭
            <br>3. '오프라인 항목 모두삭제'를 선택하신 후 '확인'클릭
            <br>4. 다시 e-메일의 "수신문서 확인하기" 버튼 클릭
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="249">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>세금계산서 수정발행이 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            국세청에서는 기 발행된 세금계산서에 대해 <font color="green">원칙적으로 재발행을 할 수 없도록 규정</font>하고 있습니다.
            <br>
            <br>또한, 분기마감이나 해당월을 지나 날짜가 변경되면 양사의 세무처리에 어려움이 따르므로, <font color="green">꼭 발행월 중에 신청하여 주세요.</font>
            <br>
            <br><b>[세금계산서 신청누락/변경요청]</b>
            <br>유선 및 e-메일을 이용하여 문의 주신 후, 사업자등록증 사본을 팩스로 보내 주시면 처리해드립니다.
            <br>
            <br>전송시 사용하고 있는 ID와 연락처, 성함을 기재해서 보내주세요.
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr / FAX 565-9351
        </div>
    </li>
    <li data-no="248">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>세금계산서를 e-메일로 받지 못했습니다.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            신청하신 e-메일로 받지 못하신 경우, 담당자에게 연락주시면 <font color="green">원하시는 e-메일로 재발송</font> 해드립니다.
            <br>(신청내역을 조회할 수 있도록 사업자번호나 기업명을 함께 알려주십시오.)
            <br>
            <br><b>[대부분 아래 경우에 해당합니다.]  </b>
            <br>① 담당자 승인 전 입니다.
            <br>    2일 이내(영업일 기준) 사이트의 ‘전자세금계산서 조회’코너 및 신청 시 입력한 e-메일로 발행해드립니다.
            <br>    단, 선불제 서비스는 '결제완료 후' 또는 '서비스 적용 후'에 세금계산서가 발행가능합니다.
            <br>
            <br>② 카드나 핸드폰으로 결제하신 경우는 세법상 발행이 불가합니다.
            <br>
            <br>③ 서비스를 이용하셨으나, 쿠폰사용으로 실제 결제금액이 0원인 경우는 발행이 불가합니다.
            <br>
            <br>④ 세금계산서 발급대행업체인 CS빌(www.csbill.co.kr)의 메일이 귀사의 기업이나 포털에서 스팸처리되어 들어가지 않았을 수 있습니다. 원하시는 e-메일을 알려주시면 다른 e-메일로 재발송해드립니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_taxsend.asp" target="new">☞ 증빙발행 안내</a>
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="246">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>세금계산서를 안 받을 수 없나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아는 세법상 '일반사업자’로서 발생하는 모든 매출에 대하여 부가가치세를 신고, 납부해야 할 의무가 있습니다.
            <br>
            <br>따라서, 잡코리아는 신청하신 모든 유료서비스에 대해 세금계산서를 발행하며, 10% 부가가치세를 세금으로 납부합니다.(미결제하신 외상매출 포함)
            <br>
            <br><font color="green">회원님의 요청으로 부가가치세 신고를 누락할 경우, 미신고에 따른 관련 가산세를 부담</font>하게 되오니 적법한 세금계산서 발행에 협조하여 주시기 바랍니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_taxsend.asp" target="new">☞ 증빙발행 안내</a>
            <br>
            <br><b>[세금계산서 매입신고를 안하려면?]</b>
            <br>세법상 '개인'은 '매입세액 공제'를 받을 수 없으며, 따라서 '매입세액 신고의무'도 없습니다.
            <br>
            <br>따라서, <font color="green">유료서비스 신청 시 ‘개인명의 발행’(성명과 주민번호등록 번호 기재)을 선택</font>하시면, 발행해드린 세금계산서의 부가세 신고를 하실 필요가 없습니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_individual.asp" target="new">☞ 개인명의 발행이란?</a>
            <br>
            <br><b>[정정된 세금계산서를 꼭 받아야 하나요?]</b>
            <br>회원님의 요청으로 서비스 신청내용, 결제금액 변경, 환불, 과입금 등 세금계산서상에 기재된 내용이 달라진 경우, 실제 서비스 내용 및 입금액에 따라 세금계산서를 정정발행해드리는 것이므로 고객님께서도 최종적으로 발행된 내용으로 신고해주셔야 합니다.
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="244">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>포지션제안 상품이 종료된 경우, 포지션제안 수락한 이력서 연락처를 알 수있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            건수를 모두 사용하였거나 이용 기간이 만료되어 상품이 종료되어도 포지션제안 수락 후, 90일 까지 이력서 확인이 가능합니다.
            <br>
            <br>단, 이력서 리스트는 별도로 제공해 드리지 않으며, 포지션제안 `수락` 탭에서 확인하시거나
            <br>적용하신 이력서번호를 기억해두시는 것이 좋습니다.
            <br>
            <br>그리고, 포지션제안 서비스 상품을 이용 중, 추가 구매 하실 수 있습니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Service_JK/Guin_Fee/Fee_Searching.asp" target="n"><font color="navy"><b>* 포지션제안 서비스  상품안내 및 신청방법</b></font></a>
            <br>
            <br>
        </div>
    </li>
    <li data-no="243">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>야간 즉시등록 서비스가 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            야간시간대(22시~07시)에 작성되는 채용공고는
            <br>대기 후 야간시간이 끝나는 오전 07시에 리스트에 게재됩니다.
            <br>
            <br>대기시간 없이 즉시 게재를 원하시면 채용공고 작성 후 `야간 즉시등록 서비스` 또는
            <br>`유료 채용광고`를 신청하시기 바랍니다.
            <br>
            <br>야간 즉시등록 서비스는 공고 1건당 2,200원이 부과되며,
            <br>야간시간대(22시~07시)에는 무통장입금 결제를 사용하실 수 없습니다.
            <br>
        </div>
    </li>
    <li data-no="241">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>포지션제안 서비스 신청 결제 후 바로 이용이 안되나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            포지션제안 서비스  결제 후에는 아래와 같은 순서로 인증 후 이용이 가능합니다.
            <br>
            <br>포지션제안 서비스 신청 =&gt; 결제 =&gt; 근무 시간 내 신청 후 30분 안으로 인증완료 =&gt; 서칭서비스 이용 시작
            <br>
            <br>또한 인증 시에는 기업확인이 필요할 수 있으므로 고객센터에서 연락을 드리거나 별도의 제반서류를 요청드릴 수 있사오니 양해 부탁드리겠습니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Service_JK/Guin_Fee/Fee_Searching.asp" target="n"><font color="navy"><b>* 포지션제안 서비스 상품안내 및 신청방법</b></font></a>
        </div>
    </li>
    <li data-no="240">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>포지션제안 서비스 이용중 제안을 수락 연락처를 확인한 이력서는 다시 열람이 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            <br>포지션제안 발송 후, 개인회원이 수락 시 90일간 연락처와 이력서를 확인하실 수 있습니다.
            <br>하지만, 개인회원이 수락한 이력서의 답변을 취소하거나 기업을 차단시에는 이력서 확인이 불가합니다.
            <br>포지션제안 수락한 이력서는 인재관리&gt;포지션제안&gt; 수락 탭에서 확인하실 수 있습니다.
            <br>
        </div>
    </li>
    <li data-no="239">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>포지션제안 서비스는 잔여건수는 이용기간이 지나면 소멸되나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            그렇습니다.
            <br>
            <br>포지션제안 서비스는 이용기간 내 구매하신 건 수 사용해주셔야합니다.
            <br>
            <br>이용기간 내 상품의 건수를 모두 사용하시거나, 이용기간이 만료하면 상품은 종료됩니다.
            <br>
            <br>포지션제안 상품은 건 수에 따라, 이용기간이 다르니 서비스 안내 페이지를 참고해 주시기 바랍니다.
            <br>
            <br>
            <br>
            <br><a href="http://www.jobkorea.co.kr/Service_JK/Guin_Fee/Fee_Searching.asp" target="n"><font color="navy"><b>* 포지션제안 서비스 상품안내 및 신청방법</b></font></a>
        </div>
    </li>
    <li data-no="233">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>무통장입금(가상계좌) 서비스는 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            입금 후 별도의 확인과정 없이 바로 신청하신 서비스를 이용하실 수 있도록,
            <br>이니시스(www.inicis.com) 가상계좌를 도입하였습니다.
            <br>
            <br>결제신청 건별로 발급된 가상계좌의 번호확인 방법은 다음과 같습니다.
            <br>
            <br>이용하실 유료서비스를 선택하신 후, 무통장입금을 선택하시면
            <br>아래와 같이 inicis 신청창이 뜹니다.
            <br>
            <br><b>☞ 약관을 확인하신 후, 동의를 하시면 “동의합니다”에 체크하신 후 하단에 다음 버튼을 클릭해주세요. </b>
            <br>
            <br><img src="//img.jobkorea.co.kr/Images/bbs_notice/2013/05/30/01.jpg" alt="">
            <br>
            <br><b>☞ 입금하실 은행을 선택하시고 송금자명을 입력하신 후 다음 버튼을 클릭해주세요.</b>
            <br>
            <br><img src="//img.jobkorea.co.kr/Images/bbs_notice/2013/05/30/02.jpg" alt="">
            <br>
            <br><b>☞ 연락받으실 이메일을 입력하신 후 확인버튼을 클릭해주세요. 입금기한은 발급받으신 가상계좌가 존재하는 기간입니다.</b>
            <br>
            <br><img src="//img.jobkorea.co.kr/Images/bbs_notice/2013/05/30/03.jpg" alt="">
            <br>
            <br><b>☞ 결제완료 페이지에서 선택하신 은행과 계좌번호를 다시 확인하실 수 있습니다.</b>
            <br>
            <br><img src="//img.jobkorea.co.kr/Images/bbs_notice/2013/05/30/04.jpg" alt="">
            <br>
            <br>신청하실때 기재하신 이메일로도 해당번호가 안내가 되오니, 메모 또는 확인해 주셨다가
            <br>해당계좌로 입금해주시면 됩니다.
            <br>
            <br><b><font color="blue">※가상계좌 추가설명</font></b>
            <br>① 건별로 결제하실 때마다 새로운 입금계좌번호가 생성되므로,
            <br>    <font color="red">신청건별로 발급받은 은행의 계좌번호로 입금</font>해 주셔야 합니다.
            <br>② 인터넷뱅킹, 폰뱅킹, 은행 CD/ATM 등을 통해 입금(이체)해 주시면 됩니다.
            <br>③ <font color="red">서비스 신청 후 2일 이내</font>로 입금해주기시 바랍니다.
            <br>
            <br><b><font color="blue">※가상계좌 환불안내</font></b>
            <br>① 가상계좌 결제 후 환불요청은 고객센터로 연락주시면 안내 가능합니다.
            <br>└ <font color="red">환불이 가능할 경우, 통장사본을 접수</font>해주셔야 가능합니다.
            <br>└ 통장사본은 입금자명과 동일한 명이여야 하며, 상이할 경우 사업자등록증 or 이체확인증이 필요할 수 있습니다.
            <br>② <font color="red">환불소요 기간은 접수일로부터 최대 7일 이내</font>입니다.
            <br>
        </div>
    </li>
    <li data-no="229">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>전자세금계산서 발행이란 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아는 유료서비스 이용 시 전자세금계산서를 발행해드리고 있습니다.
            <br>(신속한 세금계산서 발송 및 관리를 위해 2004년 12월 16일 부터 세금계산서 우편발송이 중단되었습니다.)
            <br>
            <br>유료서비스 이용 시 세금계산서를 신청하실 수 있으며, <font color="green">담당자 승인(2일 이내) 후 사이트의 '전자세금계산서 조회'메뉴에서 확인 가능</font>합니다.
            <br>동시에 신청시 입력하신 e-메일로도 전송해드립니다.
            <br>
            <br>수령하신 세금계산서는 프린터로 출력하여 사용하실 수 있으며, 오프라인의 세금계산서와 동일한 법적 효력을 지니고 있습니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_surtax.asp" target="new">☞ 개정부가가치세법 : 2004년 7월 1일 개정 부가세법 시행령 제 57조 2항</a>
            <br>
            <br>세금계산서를 다운로드 하면 사용자의 PC에 자동으로 저장이 되며 필요 시 파일을 열어 사용 하실 수 있습니다.
            <br>(보관은 5년 동안 가능합니다.)
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="224">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>신용카드로 결제를 했는데 매출영수증을 보내줄 수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            카드결제(간편결제 카드결제 포함)시에는 세금계산서가 따로 발행되지 않으며, <font color="green">`신용카드 매출전표`로 그 대체가 가능</font>합니다.
            <br>
            <br><b>[개정세법에 따른 신용카드 매출 세금계산서 발급중지]</b>
            <br>-  2004년 7월 1일부터 개정된 부가세법 시행령 제 57조 2항에 따라 세금계산서 발행이 불가능합니다.
            <br>- `신용카드 매출전표`로 `세금계산서`를 대신할 수 있습니다.
            <br>-  당사는 결제대행업체인 이니시스를 통하여 신용카드 매출전표를 발행하고 있으며, 카드결제 완료화면에서 직접 출력하거나, 이니시스 홈페이지(www.inicis.com)에서 `매출전표`를 출력하실 수 있습니다.
            <br>
            <br> <a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_surtax.asp" target="new">☞ 개정부가가치세법</a>
            <br><a href="http://www.inicis.com" target="new">☞ 카드결제 내역조회 (이니시스 바로가기) </a>
            <br>
            <br><b>[신용카드 매출전표 분실 및 미출력 시]</b>
            <br>법인세법 제116조 제2항 제1호의 규정에 의거 신용카드사에서 매달 통보되는 ‘신용카드 월별 세부이용내역’도 지출증빙서로 인정됩니다. 각 카드사 홈페이지에서 ‘신용카드매출전표’를 출력하여 처리하시면 됩니다.
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="223">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>세금계산서 발행이 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            <b>[발행절차]</b>
            <br>① 잡코리아는 유료서비스 이용 시 전자세금계산서를 발행해드리고 있습니다.
            <br>    전자세금계산서는 전자서명법에 의거 법적효력을 갖는 문서입니다.
            <br>    (신속한 세금계산서 발송 및 관리를 위해 2004년 12월 16일 부터 세금계산서 우편발송이 중단되었습니다.)
            <br>
            <br>② <font color="green">부가세 신고를 하시려면 ‘사업자용’, 부가세 신고를 하지 않으시려면 ‘개인명의 발행’을 선택</font>하실 수 있습니다.
            <br>
            <br>③ <font color="green">2일 이내(영업일 기준) 사이트의 ‘전자세금계산서 조회’코너 및 신청 시 입력한 e-메일로 발행</font>해드립니다.
            <br>
            <br>④ 발행된 세금계산서의 [매입인쇄] [다운로드]버튼을 눌러 보관하시면 됩니다.
            <br>
            <br><a href="http://www.jobkorea.co.kr/Text_Co/Fee_Guide_taxsend.asp" target="new">☞ 증빙발행 안내</a>
            <br>
            <br><b>[세금계산서 작성기준]</b>
            <br>- 작성 년/월/일 : 서비스 신청일
            <br>   단, 선불제 서비스는 `①결제완료 후` 또는 `②서비스 적용 후`에 세금계산서가 발행가능합니다.
            <br>   세금계산서상의 발행일은 위 두날짜 중 선행하는 날짜로 기재됩니다. (ex: 잡코리아 인재서칭)
            <br>
            <br>- 공급가액/세액 : 쿠폰, 할인가 등을 제외한 최종 결제금액 (충전금 사용금액 포함)
            <br>
            <br>- 청구유형 : 서비스 신청당일 결제했느냐에 따라 ‘영수/청구’구분
            <br>
            <br>- 품목 : `잡코리아 유료서비스 이용료`로 기재
            <br>
            <br><b>[발행불가] </b>
            <br>* 세법상 <font color="green">카드와 핸드폰 결제 시에는 세금계산서 발행이 불가</font>합니다.
            <br>단, 신용카드로 결제시 충전금을 함께 사용하신 경우에는 충전금 사용금액과 신용카드 결제금액이 합산되어 세금계산서가 발행되며
            <br>무통장 결제로 서비스 신청하여 세금계산서가 발급된 건에 대하여 추후 신용카드로 결제완료하셔도, 잡코리아(유)는 세금계산서를 기준으로 부가가치세 신고를 합니다.
            <br>
            <br>
            <br><b>[세금계산서 신청누락/변경요청]</b>
            <br>유선 및 e-메일을 이용하여 문의 주신 후, 사업자등록증 사본을 팩스로 보내 주시면 처리해드립니다.
            <br>전송시 사용하고 있는 ID와 연락처, 성함을 기재해서 보내주세요.
            <br>(한 번 보내주신 사업자 등록증은 소중히 보관을 하므로 추가로 요청할 경우 다시 보내주시지 않으셔도 됩니다.)
            <br>
            <br>증빙발급 문의 : ☎ 1588-9350 (잡코리아 고객센터) / helpdesk@jobkorea.co.kr / FAX 565-9351
        </div>
    </li>
    <li data-no="222">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>입금 예정자 이름과 다르게 입금을 했는데 상관없나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            무통장 입금으로 결제를 하실 경우, 유료 서비스를 신청하신 입급예정자와 실제 입금자의 성명이 일치하지 않을 경우, 입금확인에 걸리는 시간이 많이 지연됩니다.
            <br>
            <br>유료 서비스 결제시 지정하신 은행과 입금예정자 등의 일치 여부에 의해서 입금확인이 되므로, 만약 위와 같은 변경사항이 있다면 고객센터로 통보해주시기 바랍니다.
        </div>
    </li>
    <li data-no="221">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>신용카드로 결제를 했는데 중복된 것 같네요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            신용카드 결제완료 버튼을 두번이상 클릭하신 경우에 발생되기도 합니다.
            <br>
            <br>결제완료버튼을 한번 클릭하신 후 잠시 기다려주시면 결제확인 페이지로 이동한 후 정상적으로 승인처리가 완료됩니다.
            <br>
            <br>카드결제 승인처리가 중복으로 확인되는 경우에는 고객센터로 문의주시면 확인후 신속히 처리해드리도록 하겠습니다.
            <br>
            <br>잡코리아 고객센터 : 1588-9350
        </div>
    </li>
    <li data-no="220">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>은행 계좌번호를 좀 알려주시겠어요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            유료서비스 신청 시 가상계좌를 발급받게 되며 발급된 가상계좌는 신청된 e-메일발송 및 기업회원 로그인 후 <b>유료서비스 신청·관리</b> 하단 미결제 내역에서 해당 신청건의 가상계좌번호를 확인하실 수 있습니다.
            <br>
            <br>가상계좌확인이 불가능하거나 발급받으신 계좌로의 입금이 불가한 경우 아래의 계좌를 통해 결제가 가능하며 당사로 유선 or e-mail로 입금내역과 사용아이디를 알려주시면 신속한 입금확인을 받으실 수 있습니다.
            <br>
            <br>  우리은행
            <br>  1005-800-904469    예금주 : 잡코리아(유)
            <br>
            <br>  [ 잡코리아 고객센터 ]
            <br>  1588-9350 / helpdesk@jobkorea.co.kr
        </div>
    </li>
    <li data-no="219">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>입금을 했는데 아직도 미결로 나오네요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            <br>가상계좌가 도입되어 가상계좌번호를 부여받으신 후 인터넷뱅킹이나 폰뱅킹등 무통장입금을 하시면 매칭되어 바로 이용가능합니다
            <br>
            <br>별도의 확인과 빠른 입금처리를 원하실 경우 고객지원팀(1588-9350)으로
            <br>문의하시면 신속히 처리해 드리도록 하겠습니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="218">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>결제는 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            신청하시는 유료서비스마다 지원되는 결제수단이 다릅니다.
            <br>
            <br>1. 유료 채용광고와 인재검색 서칭서비스 결제
            <br>
            <br>① <b>신용카드</b>
            <br><font style="font:11px dotum !important;">
                신용카드 결제는 개인카드와 법인카드 모두 결제가 가능합니다. 세계적으로 공인된 암호화 인증기술,테이터 보호기술,전자서명 기술을 통해 가장 안전한 인터넷 보안 솔루션을 제공하고 있는 ㈜이니시스의 결제 시스템을 사용하고 있습니다.
                <br>대금은 회원님의 신용카드 결제일에 ㈜이니시스 명의로 청구됩니다.
            </font>
            <br>
            <br>② <b>무통장 입금</b>(가상계좌)
            <br><font style="font:11px dotum !important;">
                무통장 입금(가상전용계좌) 결제는 회원님의 편리를 위해 회원님만의 가상전용계좌를 부여하는결제방식 입니다. 원하시는 은행을 선택하시면 회원님만의 전용 계좌가 생성되며 부여된 전용계좌로 입금해 주시면 됩니다. 단, 야간시간대(22시~07시)에는 무통장입금을 사용하실 수 없습니다.
                <br>[이용 가능 은행]
                <br>국민, 기업, 농협중앙회, 부산은행, 수협중앙회, 신한(조흥), 우리, 우체국, 외환, SC제일, 하나은행
            </font>
            <br>
            <br>③ <b>실시간 계좌이체</b>
            <br><font style="font:11px dotum !important;">
                별도의 서비스 가입절차나 프로그램 설치 없이 계좌번호/계좌비밀번호/주민번호만 입력하면 결제가 실시간으로 이루어지는 결제방식입니다.
                <br>이 서비스는 결제와 동시에 잡코리아에 입금처리가 되며 10분 이내로 입금확인을 하실 수 있습니다.
                <br>[이용 가능 은행]
                <br>경남, 광주, 국민, 기업, 농협중앙회, 농협회원조합, 대구, 부산, 수협중앙회, 신한(조흥), 우리, 외환, 전북, 제일, 제주,하나, 한미은행
            </font>
            <br>
            <br>④ <b>충전금</b>
            <br><font style="font:11px dotum !important;">
                회원님의 편의를 위해 결제대금을 선입금해두는 ‘충전금’ 제도를 운영하고 있습니다.
                <br>결제방법: 결제 시 결제수단을 ‘충전금’으로 선택하시면 됩니다.
                <br>(서비스 신청금액보다 보유한 충전금이 부족할 경우, 차액을 입금하여 충전하신 후 사용가능) 충전방법: 잡코리아 충전금 전용계좌로 무통장 입금 후 연락주시면, 입금확인 후 회원님의 ID에 적립하여 드립니다.
                <br>(우리은행 1005-800-904469 / 예금주:잡코리아(유)) 증빙발급: 세금계산서는 충전금 적립시점이 아니라, ‘유료서비스 결제’에 사용하시는 시점에 발행됩니다.
            </font>
            <br>
            <br>⑤ <b> 간편결제</b>
            <br>네이버페이, 카카오페이, 페이코, 토스페이, 삼성페이 이용이 가능합니다. 단, 삼성페이는 ios 기기에서 이용이 불가합니다.
            <br>선택한 브랜드에 따라 포인트/머니 결제가 가능하며 포인트/머니 사용 시 카드 결제와 함께 사용하여 결제할 수 없는 점 참고해주시기 바랍니다.
            <br>
            <br>2. 기업회원 패키지 상품결제
            <br>
            <br>① <b>신용카드결제</b>
            <br>② <b>무통장 입금</b>
            <br>
            <br>3. 문자메시지 발송서비스 결제
            <br>
            <br>① <b>신용카드</b>
            <br>② <b>휴대폰 결제</b>
            <br><font style="font:11px dotum !important;">
                각 이동통신사별로 정해놓은 월이용한도 금액까지 소액결제가 가능합니다.(이용한도는 이용하시는 각 통신사에 확인)
                <br>SMS인증을 거쳐 결제함으로 핸드폰을 소지하지 않으면 결제 불가능합니다.
                <br>결제대금은 핸드폰 사용료에 합산 청구 됩니다.
            </font>
            <br>
        </div>
    </li>
    <li data-no="217">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[결제·유료 서비스]</span>채용대행 솔루션 서비스는 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            리쿠르팅 네트워크 잡코리아 채용대행 솔루션은 입사지원서 접수에서 인재선발까지 전 과정을 대행하는 인재채용 On-Line 통합 시스템입니다.
            <br>
            <br>기업의 대규모 공채 또는 상시채용에 따른 인재선발 과정에서 오는 불필요한 인력 손실 및 시간낭비를 최소화하고
            <br>비용절감 효과와 계량화 된 시스템 제공으로 기업에 맞는 최적의 인재선발을 도와 드립니다.
            <br>
            <br>-  담당자: 잡코리아영업실 HR채용서비스팀 홍석창 팀장
            <br>-  서비스 문의/신청 : <a href="http://assessment.jobkorea.co.kr/Contact/ServiceContactUs" target="n"><u>바로가기</u></a>
            <br>
            <br><a href="http://assessment.jobkorea.co.kr/ORAS/Introduction" target="n"><u>채용대행 솔루션 서비스 안내</u></a>
        </div>
    </li>
    </b></b>
</ul>