<ul>
    <li data-no="508">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>포지션제안 서비스를 구매했는데, 어떻게 사용하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            포지션제안 서비스를 신청 후, 30분 내 관리자 승인이 진행됩니다.
            <br>승인 후, 포지션제안 서비스를 시작하실 수 있습니다.
            <br>
            <br>
            <br>1. 인재검색에서 채용하고자하는 조건으로 이력서를 검색합니다.
            <br>
            <br>2. 마음에 드는 인재의 이력서를 검토 후, 연락을 하고자 할 때 상품1건을 차감하여 포지션제안 하실 수 있습니다.
            <br>
            <br>3. 포지션제안은 귀사에 `진행중인 공고` 또는 `포지션을 등록`하여 발송하실 수 있습니다.
            <br>   (포지션 등록 시, 자세한 내용 기재는 제안 수락 비율이 높아집니다.)
            <br>
            <br>4. 발송 후, 개인회원의 `수락` 답변 시 연락처가 공개됩니다.
            <br>   거절 또는 미응답 시, 1회 무료 재발송이 가능합니다.
            <br>
            <br>5. 수락, 90일간 연락처가 공개되며 면접제의 및 결과통보가 가능합니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="213">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>인재검색에 있는 이력서를 보고 싶은데, 어떻게 해야하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            포지션제안 서비스 상품을 신청 후, 포지션제안을 하실 수 있습니다.
            <br>
            <br>귀사에서 채용하고자 하는 포지션 또는 진행중인 공고로 제안 후
            <br>
            <br>개인회원이 수락 시, 연락처가 공개되며 이후 연락을 진행하실 수 있습니다.
            <br>
            <br>[포지션제안 서비스]는 채용을 목적으로 하는 경우에만 이용할 수 있으며, 기업의 영업/마케팅 등 채용 이외의 용도로는 이용할 수 없습니다.
        </div>
    </li>
    <li data-no="201">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>포지션제안 서비스 이용중 스크랩한 이력서는 포지션제안 상품이 종료되도 확인 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            <br>포지션제안 서비스 이용 기간중 스크랩한 이력서는 상품의 이용기간과는 무관하게
            <br>스크랩일로 90일간 인재관리 &gt; 스크랩한 인재에서 확인하실 수 있습니다.
            <br>
        </div>
    </li>
    <li data-no="154">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>스크랩한 인재는 어디에서 확인이 가능한가요? </span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 스크랩·인재관리</strong> 메뉴에서 확인하실 수 있습니다.
            <br>2. 채용공고에 스크랩하신 경우에는 기업회원 홈 &gt;  채용공고·지원자 관리 에서도 확인하실 수 있습니다.
            <br>
            <br> 스크랩한 이력서는 스크랩일로부터 90일간 보관되며, 스크랩한 이력서를 포함한 이력서의 상세정보와 연락처는 서칭서비스 이용기간에만 열람 가능합니다.
        </div>
    </li>
    <li data-no="138">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>이력서 검색을 하다가 관심있는 이력서를 스크랩할 수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            이력서 검색을 하시다가 관심있는 이력서가 있을 경우에는
            <br>이력서 보기 화면 우측 메뉴를 보시면 [☆ 인재 스크랩] 버튼이 있습니다.
            <br>
            <br>[☆ 인재 스크랩] 버튼을 한번 클릭을 하면 스크랩하실 수 있습니다.
            <br>
            <br>일반기업, 헤드헌팅, 파견대행 회원으로 각각 로그인 하신 후
            <br>스크랩 할 수 있습니다.
        </div>
    </li>
    <li data-no="136">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>면접제의 서비스는 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업이 포지션제안 서비스 이용중 관심있는 개인회원에게 포지션 제안을 하실 수 있습니다.
            <br>
            <br>보낸 포지션제안에 대해 개인회원이 수락 시, 연락처가 공개되면서 `면접제의`가 가능합니다.
            <br>
            <br>수락한 포지션으로만 면접제의 가능하며, 면접일정 후보 및 내용을 발송할 수 있습니다.
            <br>
            <br>귀사에 적합한 인재가 있다면, 포지션제안을 발송하시고, 면접제의까지 이용해 보세요.
        </div>
    </li>
    <li data-no="131">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>이력서 검색을 하다가 뒷페이지로 돌아가기를 누르면 만료된 페이지라고 나오는데요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            현재 회원님이 지적해 주신 문제와 관련하여, 정확한 원인을 찾기 위해 테스트 중에 있습니다.
            <br>
            <br>일반적인 원인으로는 다음과 같은 이유가 있을 수 있습니다.
            <br>
            <br>첫째, 잡코리아의 정보는 대부분이 사용자가 요청한 조건에 맞는 정보를 데이터베이스에서 끌어와서 보여주는 방식입니다. 이때 요청한 정보를 브라우저를 통해 완전히 전달되어지기 전에(화면상으로는 구분하기가 힘이 드는게 사실입니다.) '돌아가기'버튼을 누르게 되면 이전에 보았던 화면이 아닌 회원님게서 말씀하셨던 '경고 메시지'를 보게 되는 경우가 있습니다. 따라서 정보를 보기 위해 클릭하신 후 바로 '돌아가기'버튼을 누르지 말고 좀 시간을 두고 클릭하는 것이 하나의 해결책이 된다고 말씀드릴 수 가 있습니다.
            <br>
            <br>둘째, 브라우저 자체의 문제로 인해 이러한 '경고메시지'가 보여지는 경우가 있습니다.
            <br>
            <br>첫째 방법으로 해결이 되지 않는다면 브라우저를 다시 설치하는 것도 하나의 방법이 될 수 있을 것입니다.
        </div>
    </li>
    <li data-no="130">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[인재정보]</span>이력서 연락처가 열람불가로 나오는데 어떻게 해야 되나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원으로 가입을 하지 않으신 경우 모든 개인회원 이력서의 연락처는 열람불가로 표시됩니다.
            <br>
            <br>신청 방법은, 기업회원으로 로그-인 하신 후, 유료 서비스 중에서 인재검색 서칭 서비스를 신청하시면 됩니다.
        </div>
    </li>
</ul>