<ul>
    <li data-no="242">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>채용공고 등록 후 대기중이라는 표시가 나타나는데 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            동시진행 가능 개수가 초과한 경우,
            <br>야간시간대 또는 주말(공휴일포함)에 작성되는 채용공고의 경우,
            <br>도급대행 공고의 경우,
            <br>게재가능 조건이 충족될 때까지 [대기중]으로 표시됩니다.
            <br>
            <br>대기시간 없이 즉시 게재를 원하시면 채용공고 작성 후 `야간 즉시등록 서비스` 또는
            <br>`유료 채용광고`를 신청하시기 바랍니다.
            <br>
        </div>
    </li>
    <li data-no="236">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>공고 제목이 자꾸 변경됩니다. 어떤 이유인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            채용공고 제목에 노동법상 위배되는 성차별, 학력, 연령에 관한 단어 및 구체적인 직무가 명시되지 않은 애매모호한 단어가 포함된 경우,
            <br>[입력하신 첫 번째 키워드 + 업무 담당자 모집]으로 변경됩니다.
            <br>
            <br>아래와 같은 특정 단어이니 반드시 확인하시기 바랍니다.
            <br>
            <br><img src="//file.gamejob.co.kr/Help/Notice_Img_View.asp?FN=Tong_20141124.GIF" alt="">
            <br>
            <br>위 단어가 포함되지 않도록 채용공고 제목을 꼭 확인하시기 바랍니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="230">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>온라인 입사지원자들은 어디서 확인하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt;  공고·지원자 관리</strong>로 이동하시면  등록하신 채용공고별로 입사지원자를 확인하실 수 있습니다.
            <br>
            <br>2. <strong>기업회원 홈 &gt; 인재관리</strong>에서는  스크랩한 인재, 최근 본 인재, 포지션제안 인재 이력서를 확인하실 수 있습니다.
            <br>
            <br>
            <br>예비합격 여부와 점수는 지원자 및 개인회원에게 공개되지 않습니다.
            <br>즉, 지원자 관리용으로 자유롭게 이용하실 수 있습니다.
            <br>
            <br>채용관리의 지원자 보기에서는 ,온라인 인적성 검사 결과, 온라인 추천서 등도 함께 확인할 수 있으며,
            <br>면접제의 및 결과통보의 기능을 통해 지원자와 면접일정 조율 및 합격/불합격 결과 안내가 가능합니다.
        </div>
    </li>
    <li data-no="228">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>새로운 채용공고를 등록했는데 기업명 및 지역별 등의 검색은 언제 되나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            새로운 채용공고를 등록하시면 업직종별 채용정보에서 1~6분후 등록된 채용공고를 확인할 수 있습니다.
            <br>
            <br>HOME &gt; 채용정보 &gt; 업직종별 &gt; 공고등록시 입력한 업직종 선택 후 무료 채용공고란 에서 1~6분후 확인이 가능합니다.
            <br>
            <br>[업직종 페이지 상단에 위치한 업직종 1.2차 분류 선택은 검색에 포함되어 업데이트 시간이 소요되므로, 나열된 업직종에서 직접 선택하시기 바랍니다.]
            <br>
            <br>기업명 검색이나, 키워드 검색의 경우 업데이트 되는 시간은 최소 1시간에서 최대 4시간이 소요되며 지역별은 약 2시간 후에 공고 확인을 하실 수 있사오니 참고를 부탁드리겠습니다.
            <br>
            <br>업데이트 적정 시간 이후에도 검색 시 확인이 안되신다면 고객지원팀으로 문의를 부탁드리겠습니다. 신속히 확인 후 처리해 드리도록 하겠습니다.
            <br>
            <br>잡코리아 고객센터 1588-9350
            <br>
            <br>
        </div>
    </li>
    <li data-no="227">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>채용공고의 등록일은 변경이 불가능 한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            채용공고의 등록일은 최초 공고 등록일이므로 수정이 불가능합니다.
            <br>
            <br>채용공고를 수정하면 수정한 날로 수정일은 변경이 되지만 등록일 변경은 불가능 합니다.
        </div>
    </li>
    <li data-no="226">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>마감된 채용공고를 다시 진행하고 싶은데 어떻게 하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            마감된 채용공고는 수정기능이 존재하지 않으니, <strong>복사기능</strong>을 이용하시기 바랍니다.
            <br>
            <br>기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 채용공고·지원자 관리 &gt; 마감된 채용공고 </strong>리스트에서 채용공고를 찾은 후
            <br>
            <br>2. <strong>[복사] </strong>버튼을 클릭 후 마감일 및 변경사항이 있는지 여부를 확인 후 등록하시면
            <br>동일한 내용의 공고를 편리하게 등록하실 수 있습니다.
        </div>
    </li>
    <li data-no="225">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>채용공고 등록시 선택가능한 업직종의 분류는 몇개까지 가능한가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            채용공고 등록시 업종은 1개, 직종은 최대 3개까지 선택이 가능합니다.
            <br>
            <br>업종은 기본적으로 기업정보에 등록된 업종을 불러오며, 채용공고에 더 부합하는 업종이 존재할 경우 수정할 수 있습니다.
            <br>단, 채용공고 등록시 수정된 업종은 기업정보에는 반영되지 않고 해당 공고에만 반영됩니다.
            <br>
            <br>직종은 공고 등록시 마다 새로 선택하셔야 합니다.
            <br>
            <br>채용공고를 등록하실 때 모집하는 분야에 부합하는 업종과 직종을 선택 하시면 효과적으로 공고를 게재하실 수 있습니다.
            <br>
            <br>모집분야가 많아 업종과 직종이 부족한 경우에는 추가로 채용공고를 등록하시기 바랍니다.
            <br>
        </div>
    </li>
    <li data-no="203">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>마감된 채용공고에 지원을 한 지원자의 이력서는 어디서 볼수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt;  채용공고·지원자 관리</strong>로 이동하시면  등록하신 채용공고별로 입사지원자 및 인재관리를 확인하실 수 있습니다.
            <br>
            <br>2. 인재관리에서 입사지원자 뿐 아니라 예비합격자, 인재스크랩, 공고스크랩, 맞춤인재의 이력서도 확인 가능 합니다.
            <br>
            <br>* <strong>입사지원자</strong> - 채용공고에 입사지원한 인재의 이력서 확인 가능
            <br>* <strong>예비합격자 </strong>- 입사지원자, 인재스크랩, 공고스크랩, 맞춤인재를 통해서 예비합격으로 분류된 이력서 확인 가능
            <br>* <strong>인재스크랩</strong> - 내가 직접 인재 스크랩을 한 이력서 확인 가능
            <br>* <strong>공고관심 인재</strong> - 내가 등록한 채용공고를 스크랩한 인재의 이력서 확인 가능
            <br>* <strong>스마트 매치 인재 </strong> - Smart Match를 통해 내가 등록한 채용공고에 가장 적합한 이력서 확인 가능
            <br>
            <br>예비합격 여부와 점수는 지원자 및 개인회원에게 공개되지 않습니다.
            <br>즉, 지원자 관리용으로 자유롭게 이용하실 수 있습니다.
            <br>
            <br>채용관리의 지원자 보기에서는 사전 인터뷰 답변 내용, 온라인 인적성 검사 결과, 온라인 추천서 등도 함께 확인할 수 있습니다.
        </div>
    </li>
    <li data-no="202">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>인재스크랩 처리한 개인회원의 이력서는 어디서 확인하나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 인재 스크랩 </strong>으로 이동하시면 스크랩된 인재를 확인하실 수 있습니다.
            <br>2. 채용공고에 스크랩하신 경우에는 기업회원 서비스 &gt;  채용공고·지원자 관리 에서도 확인하실 수 있습니다.
            <br>
            <br>* 스크랩한 이력서는 스크랩일로부터 <strong>90일간 보관</strong>됩니다.
            <br>   단, 서칭적용된 이력서의 연락처는 서칭을 보실 수 있는 기간까지만 확인이 가능합니다.
            <br>
            <br>이력서를 <strong>스크랩</strong>하는 <strong>방법</strong>은
            <br>
            <br>1. 진행중인 채용공고가 없는 경우
            <br>
            <br>   - 인재 검색 서칭서비스를 신청 및 결제완료 후 인재정보에서 이력서 열람후에 스크랩할 수 있습니다.
            <br>   - 스크랩한 이력서를 개인이 비공개로 설정 변경하는 경우에는 연락처가 노출되지 않으며,
            <br>     서칭서비스 이용 기간 내에만 연락처 열람이 가능합니다
            <br>
            <br>2.  진행중인 채용공고가 있는 경우
            <br>
            <br>   - 진행중인 채용공고가 있을 경우에는 인재검색 서칭서비스를 이용하지 않으셔도 스크랩하실 수 있습니다.
            <br>   - 또한, 진행중인 채용공고가 없는 경우는 인재 검색 서칭 서비스를 신청하시면 인재 스크랩이 가능합니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="199">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>2021년 최저임금에 대해 자세히 알고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            최저임금에 관한 법률에 대하여 안내를 드립니다.<br><br><strong>
                <font color="#555555">
                    <br>☆☆ 최저임금법에 대한 법률 안내 ☆☆<br><br>
                    <br><font class="item">제5조(최저임금액)</font> <br>
                    <br>
                </font>
            </strong><font class="gestonblack" color="#555555">
                <br>
                <br>① 최저임금액(최저임금으로 정한 금액을 말한다. 이하 같다)은 시간·일(日)·주(週) 또는 월(月)을 단위로 하여 정한다. 이 경우 일·주 또는 월을 단위로 하여 최저임금액을 정할 때에는 시간급(時間給)으로도 표시하여야 한다.<br>
            </font><font class="gestonblack"><font color="#555555">② 다음 각 호의 어느 하나에 해당하는 자에 대하여는 대통령령으로 정하는 바에 따라 제1항에 따른 최저임금액과 다른 금액으로 최저임금액을 정할 수 있다.<br></font><span class="rev_text"><br><font color="#555555">       </font></span><font color="#555555">       1. 수습 사용 중에 있는 자로서 수습 사용한 날부터 3개월 이내인 자<br>       2. 근로기준법 제 63조 제3호에 따라 감시(監視) 또는 단속적(斷續的)으로 근로에 종사하는 자로서 사용자가 <span style="BACKGROUND-COLOR: #ffffff">고용노동부장관</span>의 승인을 받은 자<br> ③ 임금이 통상적으로 도급제나 그 밖에 이와 비슷한 형태로 정하여져 있는 경우로서 제1항에 따라 최저임금액을 정하는 것이 적당하지 아니하다고 인정되면 대통령령으로 정하는 바에 따라 최저임금액을 따로 정할 수 있다.<br><br></font></font><font color="#555555"><strong>제6조(최저임금의 효력) <br><br></strong> ① 사용자는 최저임금의 적용을 받는 근로자에게 최저임금액 이상의 임금을 지급하여야 한다.<br> ④ 다음 각 호의 어느 하나에 해당하는 임금은 제1항과 제3항에 따른 임금에 산입(算入)하지 아니한다.<br>     1. 매월 1회 이상 정기적으로 지급하는 임금 외의 임금으로서 고용노동부장관이 정하는 것<br>     2. 근로기준법 제2조제1항제7호에 따른 소정(所定)근로시간(이하 “소정근로시간”이라 한다) <br>        또는 소정의 근로일에 대하여 지급하는 임금 외의 임금으로서 고용노동부장관이 정하는 것<br>     3. 그 밖에 최저임금액에 산입하는 것이 적당하지 아니하다고 인정하여고용노동부장관이 따로 정하는 것<br><br></font><font color="#555555"><strong>제7조(최저임금의 적용 제외) <br><br></strong>다음 각 호의 어느 하나에 해당하는 자로서 사용자가 대통령령으로 정하는 바에 따라 고용노동부장관의 인가를 받은 자에 대하여는 제6조를 적용하지 아니한다.<br>    1. 정신장애나 신체장애로 근로능력이 현저히 낮은 자<br>    2. 그 밖에 최저임금을 적용하는 것이 적당하지 아니하다고 인정되는 자<br></font><br><br>위 법률에 의거하여 채용공고를 게재하실 때 <font color="#0061f7">최저임금 이하의 공고를 게재하지 않으시기를 권해드립니다. <br></font>(최저임금 적용의 예외 조건에 해당할 경우에는 무관)<br><br>법률에 대한 보다 상세한 정보가 궁금하시면, 아래 자세히보기를 클릭하시기 바랍니다.<br><strong><a href="https://minimumwage.go.kr/info/infoSigni.jsp" target="new"><font color="#0061f7">[최저임금 자세히보기]</font></a></strong><br><br>각 기업별로 최저임금에 산입되는 임금, 아닌 임금 등의 차이가 있지만, <br>계산하자면, 40시간 근무 월최저임금이  1,822,480X12개월=연21,869,760원에 해당됩니다.
            <br><br><br>보다 자세한 계산은 아래 계산기를 활용하여 보시기 바랍니다.<br><strong><a href="https://www.moel.go.kr/miniWageMain.do" target="new"><font color="#0061f7">[최저임금 모의 계산기]</font></a></strong><br><br>감사합니다. <br><p></p>
        </div>
    </li>
    <li data-no="198">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>등록이 제한되는 공고 유형을 알고 싶어요. </span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            ! 아래에 해당하는 공고들은 운영자 모니터링 결과 부적합하다고 판단될 경우,
            <br>작성자 동의 없이 삭제될 수 있으니 반드시 참조해주시기 바랍니다.
            <br>
            <br>[등록이 제한되는 구인공고 유형]
            <br>
            <br>1. 불법마사지/안마(스포츠마사지, 오피스텔마사지), 키스방, 이미지카페, 데이트카페 등의 유흥업소 공고
            <br>
            <br>2. 바, 유흥주점, 단란주점 등 유흥관련 업종에서 공고의 내용과 급여 등을 보아 건전한 풍속에 위배되는 내용이라고 관리자가 판단하는 공고
            <br>(섹시바, 와인바, 바텐더 등의 유흥 관련 키워드를 포함하고 있는 공고는 청소년 보호법에 의해 열람이 제한됩니다.)
            <br>
            <br>[청소년 열람 제한 키워드 목록]
            <br><img src="//file.gamejob.co.kr/Help/Notice_Img_View.asp?FN=Tong_20110513.jpg" alt="">
            <br>
            <br>3. 불법 성인PC방•성인오락실, 게임장, 도박장의 모든 공고
            <br>
            <br>4. 급여, 근무조건과 관계없이 노래방도우미, 가라오케DJ, 요정, 호스트바, 룸싸롱, 착석바 등의 공고
            <br>
            <br>5. 전화방, 폰팅, 음란채팅, IJ 모집 등의 공고
            <br>
            <br>6. 애인 대행, 나이트푸싱 등 구직자의 안전한 업무환경을 보장받을 수 없는 내용의 공고
            <br>
            <br>7. 다단계, 불법 다단계 하위단계 모집, 구인을 가장하여 물품판매 자금모금을 행하는 공고, 피라미드성 통신상품 판매자 관련 공고
            <br>
            <br>8. 광고창 보기, 추천인 모집, 회원 모집 또는 카드회원 모집(수당제 공고) 관련 공고
            <br>
            <br>9. 온라인으로 이동통신 및 인터넷 통신을 홍보하는 홍보요원 모집과 가입자를 유치하는 공고
            <br>
            <br>10. 선입금을 요구하는 워드입력, 십자수, 색칠, 종이접기 등의 공고
            <br>
            <br>11. 구인을 가장하여 물품 판매, 자금 모금 등을 행하는 공고
            <br>
            <br>12. 미용, 헤어, 웨딩, 애견미용, IT관련, 디자인 등의 학원에서 아르바이트를 하면 무료 수강을 할 수 있다거나 수강료를 할인해준다는 식의 수강생 모집을 목적으로 하는 내용의 공고(예 : 배우면서 일하기)
            <br>
            <br>13. 선원법에 의거하여 한국선원복지고용센터를 제외한 다른 기관 및 취업사이트에 등록한 선박에서 근무하는 승무원(선원)의 공고
            <br>
            <br>14. 선거 기간 중 선거관리위원회 등 공공기관 이외의 단체 및 개인의 선거와 관련된 공고
            <br>
            <br>15. 근무시간, 근무기간, 급여, 모집내용을 자세하게 기입하지 않거나 대부분을 협의로 작성한 공고
            <br>
            <br>16. 업체명, 담당자 성명, 사무실 연락처, 이메일 등 구인 업체의 중요 정보를 정확하게 기입하지 않았거나 허위로 작성한 공고
            <br>
            <br>17. 사업자등록번호나 상호를 도용하는 등 기업정보를 허위로 등록한 공고
            <br>
            <br>18. 업무에 대한 설명이 명확하지 않아 모집요강만으로는 구체적인 업무를 알 수 없는 공고
            <br>(예 : 업무에 대한 구체적인 설명 없이 "일단 연락 주세요." "누구나 할 수 있어요" 라고만 되어있는 경우)
            <br>
            <br>19. 작성자가 제시한 급여, 직종, 업무내용, 근로조건 등이 실제와 현저히 다른 공고
            <br>(특히 개인 영업 실적에 따라 급여를 지급하는 경우임에도 불구하고 높은 급여를 제시하여 구직자를 현혹하는 경우)
            <br>
            <br>20. "고소득", "쉽게 돈 벌기" 등의 표현을 사용하여 구직자를 현혹시키는 공고
            <br>
            <br>21. 교육비, 수강료를 요구하는 수강생 모집광고, 학원 광고
            <br>
            <br>22. 취업수수료 등 취업관련 비용을 필요로 하는 공고 (운송,물류,지입,인력용역 등)
            <br>
            <br>23. 사업자 모집, 프랜차이즈 모집, 점포개설,창업 등 직원 채용이 아닌 공고
            <br>
            <br>24. 홍보를 목적으로 반복적으로 등록하거나 회사명을 수시로 바꿔가면 등록한 동일한 공고
            <br>
            <br>25. 구직자의 피해사례 및 임금체불 사실이 접수되었거나 근로감독원에 진정서가 접수되어 있는 업체의 공고
            <br>
            <br>26. 잡코리아 고객센터에 급여, 처우 등에 대한 항의 및 신고가 중복 발생한 업체의 공고
            <br>
            <br>27. 기타 관계법규에 위배되는 내용이거나 사이트의 원활한 운영을 저해하는 내용의 공고
            <br>
            <br>28. 파견직 채용공고
            <br>파견직 채용공고는 고용형태:파견 선택 및 유료상품 이용시 게재 가능합니다.
            <br>
        </div>
    </li>
    <li data-no="197">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>마감된 채용공고를 다시 게재하고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            마감된 채용공고는 <strong>복사</strong>기능을 이용하시면 편리하게 다시 게재하실 수 있습니다.
            <br>
            <br>기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 채용공고·지원자 관리</strong>의 리스트에서 마감된 채용공고의 제목을 찾은 후
            <br>
            <br>2. [복사] 버튼을 클릭 후 마감일 및 변경사항이 있는지 여부를 확인 후 등록하시면
            <br>    동일한 내용의 공고를 편리하게 등록하실 수 있습니다.
            <br>
            <br>3. 복사하여 채용공고를 등록하시면 복사한 원본공고의 내용은 변경내용 없이
            <br>    그대로 존재하고, 복사하여 게재한 채용공고가 새롭게 생겨납니다.
            <br>
            <br>단, [복사]버튼을 클릭후 바로 복사가 되는것은 아니며
            <br>복사화면에서 복사된 공고의 내용을 확인 후 맨하단의 <strong>[확인]</strong>버튼을
            <br>클릭하셔야만 복사가 정상적으로 이루어지고 공고도 게재됩니다.
        </div>
    </li>
    <li data-no="195">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>채용공고 접수기간과 게재기간이 달라요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            채용공고 <strong>접수기간</strong>은 채용공고를 열람한 구직자들이 입사지원을 할 수 있는 기간이며,
            <br><strong>게재기간</strong>은 채용공고가 잡코리아 사이트에 게재되는 기간입니다.
            <br>
            <br>대부분의 채용공고는 접수기간과 게재기간이 동일하나
            <br>다음과 같은 경우는 접수기간과 게재기간이 다를 수 있습니다.
            <br>
            <br>1. 채용공고 접수를 시작하기 전에 <strong>사전 게재</strong>를 하는 경우, 채용공고는
            <br>      먼저 게재되고 접수는 나중에 시작하므로 접수기간과 게재기간이 다를 수 있습니다.
            <br>
            <br>2. <strong>상시채용</strong> 및 <strong>접수기간이 긴</strong> 경우도 접수기간과 게재기간이 다를 수 있습니다.
            <br>
            <br>잡코리아는 <strong>접수시작일로부터 최대 30일까지 공고 게재</strong>가 가능하며, 게재기간을 연장할 수는 없습니다.
            <br>
        </div>
    </li>
    <li data-no="194">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>잡코리아 이력서만 접수 받고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            잡코리아 온라인 이력서만 접수받고 싶으신 경우에는
            <br>
            <br>1. 기업회원님의 아이디로 로그인 하신 후 <strong>기업홈 &gt; 채용공고 등록</strong>에서
            <br>
            <br>2. <strong>입사지원 방법 - 잡코리아 온라인 접수 </strong>을 선택하시고
            <br>
            <br>3.<strong>  이력서 양식 - 잡코리아 이력서</strong>를 선택하시면 됩니다.
            <br>
            <br>* 위와 같이 등록하시면 인사담당자 e-메일로 잡코리아 온라인 이력서가 전송되며,
            <br>  <strong> 기업홈 &gt; 채용공고·지원자 관리</strong>에서도 잡코리아 이력서로
            <br>  지원한 지원자의 이력서를 확인하실 수 있습니다.
        </div>
    </li>
    <li data-no="193">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>마감된 채용공고를 수정하고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            마감된 채용공고는 수정기능이 존재하지 않으니, <strong>복사</strong>기능을 이용하시기 바랍니다.
            <br>
            <br>기업회원님의 아이디로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 채용공고·지원자 관리</strong>의 리스트에서 마감된 채용공고의 제목을 찾은 후
            <br>
            <br>2. [복사] 버튼을 클릭 후 마감일 및 변경사항이 있는지 여부를 확인 후 등록하시면
            <br>    동일한 내용의 공고를 편리하게 등록하실 수 있습니다.
            <br>
            <br>3. 복사하여 채용공고를 등록하시면 복사한 원본공고의 내용은 변경내용 없이
            <br>    그대로 존재하고, 복사하여 게재한 채용공고가 새롭게 생겨납니다.
            <br>
            <br>단, [복사]버튼을 클릭후 바로 복사가 되는것은 아니며
            <br>복사화면에서 복사된 공고의 내용을 확인 후 맨하단의 <strong>[확인]</strong>버튼을
            <br>클릭하셔야만 복사가 정상적으로 이루어지고 공고도 게재됩니다.
        </div>
    </li>
    <li data-no="192">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>홈페이지 접수로 지원자를 받고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            홈페이지 접수로 지원자를 받고 싶으신 경우에는
            <br>
            <br>1. 기업회원님의 아이디로 로그인 하신 후 <strong>기업홈 &gt; 채용공고 등록</strong>에서
            <br>
            <br>2. <strong>접수 방법 -  홈페이지 접수</strong>를 선택하시고
            <br>
            <br>3. 접수받으실 <strong>홈페이지 URL을 입력</strong>하시면 됩니다.
            <br>
            <br>* 홈페이지 접수로만 지원자의 이력서를 받으실 경우에는
            <br>    이력서 양식 선택 폼은 선택하지 않으셔도 됩니다.
        </div>
    </li>
    <li data-no="191">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용공고]</span>자사 이력서 지원자만 접수 받고 싶어요.</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            자사 이력서 지원자만 접수 받고 싶으신 경우에는
            <br>
            <br>1. 기업회원님의 아이디로 로그인 하신 후 <strong>기업홈 &gt; 채용공고 등록</strong>에서
            <br>
            <br>2. <strong>입사지원 방법 - 잡코리아 온라인 접수 </strong>을 선택하시고
            <br>
            <br>3.<strong>  이력서 양식 - 자사 이력서 </strong>을 선택하신 후
            <br>   <strong>   [양식 등록] </strong>버튼을 선택하면 직접 파일을 등록할 수 있습니다.
            <br>
            <br>4. 만약, 귀사의 홈페이지에 양식을 다운로드 할 수 있는 링크가 존재하는 경우에는
            <br>   [URL 링크]를 입력하시면 됩니다.
            <br>
            <br>* 위와 같이 등록하시면 인사담당자 e-메일로 자사 입사지원서양식에 맞는 지원자의 이력서가
            <br>  첨부되어 전송되며, 잡코리아에 로그인 하신 후 <strong>기업홈 &gt; 채용공고·지원자 관리</strong>로 들어오셔도 자사 입사지원서 양식으로 지원한 지원자의 이력서를 다운로드 받으실 수 있습니다.
            <br>
            <br>
        </div>
    </li>
    <li data-no="190">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>입사 지원자별로 심사상태를 구분할 수 있나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            네. 입사 지원자별로 심사상태을 구분할 수 있습니다.
            <br>
            <br>지원자별 심사상태를 구분/설정하시려면, 기업회원으로 로그인 하신 후
            <br>
            <br>1. <strong>기업회원 홈 &gt; 전체 채용공고·지원자 관리</strong>로 이동하신 후
            <br>
            <br>2. 해당 공고의 전체 입사지원자를 클릭하시고
            <br>     입사지원자 리스트의 우측에서 심사상태를 선택하시면 등록 및 저장할 수 있습니다.
            <br>     심사상태를 클릭만 해도 항목이 자동으로 저장됩니다.
            <br>
            <br>3. 심사상태는 <strong>입사 지원자에게 공개되지 않으므로</strong> 지원자 선별 용도로 자유롭게
            <br>      등록 및 수정 하실 수 있습니다.
            <br>
            <br>4. 지원자별로 심사상태를 등록하신 후 합격순으로 정렬하시면,
            <br>        서류전형 합격자 선별을 효과적으로 진행하실 수 있습니다.
            <br>
        </div>
    </li>
    <li data-no="189">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>채용공고 복사하기란 무엇인가요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            <strong>채용공고를 복사</strong>하면, 기존 채용공고는 변경되지 않고, 복사한 채용공고가 새롭게 생겨납니다.
            <br>
            <br>단, [복사] 버튼 클릭 후 바로 채용공고가 복사되는 것은 아니며,
            <br>채용공고 복사화면의<strong> [확인]을 클릭해야지만 복사가 정상적으로 완료</strong>되고, 복사한 공고도 게재됩니다.
            <br>
            <br>[채용공고 복사]를 이용하여 공고를 등록하면, 기존에 공고에 등록된 내용을 불러와 필요한
            <br>항목만 수정하므로 모든 항목을 일일이 처음부터 등록해야하는 번거로움이 줄어들게 됩니다.
            <br>
            <br>* 복사를 하여도 기존의 공고는 변함없이 존재합니다.
            <br>* [복사]기능은 진행중인 채용공고, 마감된 채용공고, 채용공고 보관함에서 모두 이용할 수 있습니다.
            <br>
            <br>복사기능을 사용하시려면, 기업회원님의 아이디로 로그인 하신 후,
            <br>
            <br>1. <strong>기업회원 홈 &gt; 채용공고·지원자 관리</strong>로 이동하시면, 현재 진행중이거나 마감된, 보관된 채용공고를 확인하실 수 있습니다.
            <br>
            <br>2. 채용공고 중 복사를 원하는 채용공고의 제목을 찾으신 후 <strong>[복사]</strong> 버튼을 클릭하시면 복사화면으로 이동합니다.
            <br>
            <br>3. 복사화면에서 마감일을 포함하여 수정하고 싶은 항목들을 수정하신 후 맨 하단의 <strong>[확인] </strong>버튼을 클릭하면 복사한 채용공고가 게재됩니다.
            <br>
        </div>
    </li>
    <li data-no="185">
        <button type="button" class="lugBtnA lugBtnMore tabSearchListTitle devFaqItem"><span class="tabSearchListTitleWrap"><span class="cl3399ff">[채용관리]</span>채용공고를 복사하여 게재하고 싶은데 어디서 해야 되나요?</span></button><!--[개발] tplBtn tplBtnMore => lugBtnA lugBtnMore 클래스명 수정, 클릭 시 tplBtnCls_3 => on 클래스명 수정 -->
        <div class="searchListData">
            기업회원님의 아이디로 로그인 하신 후,
            <br>
            <br>1. <strong>기업회원 홈 &gt; 채용공고·지원자 관리</strong>로 이동하시면, 현재 진행중이거나 마감된 채용공고를 확인하실 수 있습니다.
            <br>
            <br>2. 채용공고 중 복사를 원하는 채용공고의 제목을 찾으신 후 <strong>[복사] </strong>버튼을 클릭하시면 복사화면으로 이동합니다.
            <br>
            <br>3. 복사화면에서 마감일을 포함하여 수정하고 싶은 항목들을 수정하신 후 맨 하단의 [확인] 버튼을 클릭하면 복사한 채용공고가 게재됩니다.
        </div>
    </li>
</ul>