<div class="footer">
    <div class="inner">
        <div class="copyright">Copyright ⓒ&nbsp;MYPLATFORMKOREA&nbsp;Corp. All Right Reserved.</div>
    </div>
</div>
<link href="~/Resource/Css/Footer/Footer_Type2.css" rel="stylesheet" />