<link href="~/Resource/Css/_Footer.css" rel="stylesheet" />
<script src="~/Resource/Js/Commons/_Footer.js"></script>

<div id="footer">
    <div class="inner clear">
        <h2 class="skip">마이플랫폼 기타 정보</h2>

        <p class="jkLogo">
            <a href="/">
                <img src="~/Resource/Image/Commons/logo_black.png" alt="마이플랫폼">
            </a>
        </p>
        <div class="footerWrap">
            <div class="footerCont clear">

                <div class="jkNotice">
                    <h3><a href="/help/notice">공지사항</a></h3>
                    <p>
                        <a href="/help/notice/view?no=14750">[당첨자 발표] 커리어첵첵중 이벤트 </a>
                    </p>
                </div>
                <div class="jkPolicy">
                    <h3 class="blind">마이플랫폼 소개 및 약관</h3>
                    <ul>
                        <li><a href="http://company.jobkorea.co.kr/">회사소개</a></li>
                        <li><a href="http://www.jobkorea.co.kr/Service_JK/GI/AD">광고문의</a></li>
                        <li><a href="http://company.jobkorea.co.kr/Network/default.asp#Partners" target="_blank">제휴문의</a></li>
                        <li><a href="http://www.jobkorea.co.kr/Service_JK/Provision/Provision_GG.asp">이용약관</a></li>
                        <li><a href="https://www.jobkorea.co.kr/service/PolicyPrivacy"><strong>개인정보처리방침</strong></a></li>
                        <li><a href="https://www.jobkorea.co.kr/service/ProvisionLOC"><strong>위치기반서비스이용약관</strong></a></li>

                    </ul>
                </div>

            </div>

            <div class="jkHelp">
                <h3 class="blind">고객센터</h3>
                <dl class="first">
                    <dt>고객센터</dt>
                    <dd class="tahoma">1588-9350</dd>
                    <dd class="dotum">(평일 <span class="tahoma">09:00 ~ 18:00</span>)</dd>
                </dl>
                <dl class="tahoma">
                    <dt>Email</dt>
                    <dd><a href="mailto:helpdesk@jobkorea.co.kr">myplatformkorea@gmail.com</a></dd>
                </dl>
            </div>
        </div>
        <p class="copyright tahoma">Copyright ⓒ <strong><a href="http://company.jobkorea.co.kr/" target="_blank">MYPLATFORM</a></strong> LLC. All Right Reserved.</p>
    </div>
</div>