<link href="~/Resource/Css/ModalLoding.css" rel="stylesheet" />

<div class="modal active">
    <div class="dimmed"></div>
    <div class="modal_lader">
        <article class="lader-layer">
            <div class="loading">
                <div>
                    <p>잠시만 기다려주세요</p>
                </div>
                <div class="loading-wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </article>
    </div>
</div>