<div class="top-notice-section" style="display:block;">
    <div class="inner clearfix">
        <div class="notice-box">
            <div class="swiper-container swiper-container-vertical" pagination="true">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="10" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14747" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 구직자 개인정보 보호를 위한 연락처 공개 정책 변경 안내</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="0" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14745" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 잡코리아 이용약관 개정 안내</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="1" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14748" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 2024년 설날 연휴 유료서비스 연장적용 및 고객지원 안내</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="2" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14739" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> [사전공지] 기업회원의 기업정보 동영상 업로드 방법 변경</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="3" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14744" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 잡코리아 개인정보처리방침 개정 안내</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="4" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14749" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 설날 연휴 고객센터 운영 안내</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="5" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14737" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 2023년 임금체불 사업주 2차 명단 공개</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="6" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14742" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 고민 듣고 참견 남겨줄 첵첵 멘토단을 모집합니다</a>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="7" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14751" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 휴면회원 해제 안내</a>
                    </div>
                    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="8" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14740" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> [사전공지] 잡코리아 취업특강 서비스 종료</a>
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="9" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14746" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 잡코리아 게시물 운영규칙 개정 안내</a>
                    </div>
                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="10" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14747" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 구직자 개인정보 보호를 위한 연락처 공개 정책 변경 안내</a>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="height: 52px;">
                        <a href="/Corp/Lounge/Notice_View?no=14745" id="devNoticebox" data-utltype="0" data-gno="0"><strong class="title">공지</strong> 잡코리아 이용약관 개정 안내</a>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
</div>

<script>
    var Swiper = new Swiper('.swiper-container.swiper-container-vertical', {
        direction: "vertical",
        autoplay: {
            delay: 4000,
        },
        observer: true,
        observeParents: true
    });
</script>