.txt_info {
    font-weight: 400;
    line-height: 25px;
    color: #999;
    letter-spacing: -0.03em;
}

.user-account {
    margin-top: 55px;
}

.box_tf {
    position: relative;
    padding-bottom: 3px;
}

    .box_tf .tf_g {
        width: 100%;
        height: 47px;
        padding: 10px 0 5px;
        border: solid #ccc;
        border-width: 0 0 2px;
        font-size: 15px;
        line-height: 25px;
        color: #191919;
        background-color: transparent;
        letter-spacing: 0;
        box-sizing: border-box;
        outline: 0 none;
        caret-color: #191919;
        opacity: 1;
    }

    .box_tf .util_tf {
        position: absolute;
        right: 0;
        top: 2px;
        min-width: 55px;
        height: 43px;
        font-size: 0;
        text-align: right;
    }

    .box_tf .btn_round {
        margin: 7px 0 0 7px;
    }

    .box_tf .btn_round {
        display: inline-block;
        height: 30px;
        padding: 0 13px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 32px;
        font-size: 14px;
        line-height: 29px;
        color: #191919;
        vertical-align: top;
        background-color: transparent;
        cursor: pointer;
    }

    .box_tf.error .tf_g {
        border-color: #e65f3e;
    }

    .box_tf:nth-child(2) {
    }

    .box_tf .box_ti {
        font-size: 12px;
        font-weight: 500;
    }

.confirm_btn.find-password {
    margin-top: 100px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 70px;
    color: #3c3c3c;
}

    .profile-info img {
        width: 60px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .profile-info .user-name {
        font-size: 14px;
        margin-top: 3px;
    }

.confirm_btn.certEmail {
    margin-top: 65px;
}

.cert-email .box_tf.error .txt_info {
    padding-bottom: 4px;
    color: #E65F3E;
    letter-spacing: -0.05em;
    display: block;
    margin-bottom: -3px;
    padding-top: 11px;
    font-size: 13px;
    line-height: 20px;
}

.cert-email .box_tf .txt_info {
    display: none;
}

.account-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

    .account-email span:first-child {
        font-size: 12px;
        color: gray;
    }

    .account-email span:last-child {
        font-size: 14px;
        font-weight: bold;
    }

    .account-email span + span {
        margin-top: 10px;
    }

.cont_sign .list_notice {
    padding-top: 20px;
}

    .cont_sign .list_notice li {
        position: relative;
        margin-top: 6px;
        padding-left: 7px;
        font-size: 12px;
        line-height: 15px;
        color: #999;
        letter-spacing: -0.03em;
    }

        .cont_sign .list_notice li:after {
            position: absolute;
            left: 0;
            top: 6px;
            width: 2px;
            height: 2px;
            border-radius: 2px;
            background-color: #999;
            content: '';
        }

.confirm_btn.userPw {
    padding-top: 45px;
}

.completed-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .completed-info p {
        margin-top: 30px;
    }

.confirm_btn.find-compl {
    margin-top: 95px;
}
