#wrap #container {
    width: 1260px;
    position: relative;
    margin: 0 auto;
}

.mtcSubNotice .noticeContent {
    padding: 30px;
    border-radius: 15px;
    background: #fff;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}

.mtuTab {
    margin-bottom: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

    .mtuTab li {
        width: 215px;
        height: 46px;
        position: relative;
        float: left;
        background: #f9fafb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
    }

        .mtuTab li a {
            padding-top: 11px;
            font-size: 16px;
            line-height: 24px;
            color: #9e9e9e;
            display: block;
            width: 100%;
            height: 100%;
            letter-spacing: 0;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .mtuTab li.on {
            background: #fff;
            border-color: #000;
            z-index: 2;
        }

            .mtuTab li.on a {
                font-weight: 600;
                color: #222;
            }

                .mtuTab li.on a:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }

        .mtuTab li .count {
            font-weight: 400;
            color: #9e9e9e;
            margin-left: 10px;
        }

.api-filters {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    border-bottom: 1px solid #222;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

    .api-filters .options {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
    }

    .api-filters .checkbox input {
        display: none;
    }

    .api-filters .checkbox label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        cursor: pointer;
    }

        .api-filters .checkbox label:before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 8px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='19' height='19' rx='3.5' fill='%23fff'/%3E%3Crect x='.5' y='.5' width='19' height='19' rx='3.5' stroke='%23D2D2D2'/%3E%3C/svg%3E");
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
        }

    .api-filters .checkbox input:checked + label:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='19' height='19' rx='3.5' stroke='%23D2D2D2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.59 6.077a.833.833 0 010 1.179l-6.667 6.667a.833.833 0 01-1.212-.036l-3.334-3.75A.833.833 0 115.623 9.03l2.746 3.09 6.042-6.043a.833.833 0 011.178 0z' fill='%230057FF'/%3E%3C/svg%3E");
    }

    .api-filters .checkbox:not(:first-child) {
        margin-left: 20px;
    }

.mtcSubNotice div.topArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 35px;
    margin-bottom: -1px;
}

.noticeContent .topArea h2.subTits {
    font-weight: 700;
}

.noticeContent .topArea .subTits {
    float: left;
}

.subTits {
    font-size: 22px;
    letter-spacing: -0.5px;
    color: #000;
}

.noticeContent .topArea:after {
    content: "";
    display: block;
    clear: both;
}

.mtcSubNotice .mtcTplTab {
    margin-top: 0;
}

.mtcTplTab {
    margin-top: 10px;
    padding-left: 1px;
}

    .mtcTplTab .tabItems {
        table-layout: fixed;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        border-bottom: 1px solid #ebebeb;
    }

        .mtcTplTab .tabItems li {
            display: table-cell;
        }

    .mtcTplTab ul.tabItems li {
        min-width: 100px;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }

        .mtcTplTab ul.tabItems li:first-child {
            padding-left: 0;
        }

        .mtcTplTab ul.tabItems li a {
            display: block;
            text-align: center;
            font-size: 15px;
            letter-spacing: -1px;
            color: #333;
            height: 34px;
            line-height: 34px;
            border: none;
            padding: 0 20px;
            background: #fff;
        }

        .mtcTplTab ul.tabItems li.on a {
            border: none;
            border-bottom: 3px solid #39f;
            color: #39f;
            z-index: 2;
            background-color: #fff;
            font-weight: 500;
        }

        .mtcTplTab ul.tabItems li a .verdana {
            font-size: 16px;
            letter-spacing: 0;
            margin-left: 6px;
            vertical-align: inherit;
        }

        .mtcTplTab ul.tabItems li.on a .verdana {
            font-weight: 700;
        }